/**************************\
*                          *
*  Stuffmapper Stylesheet  *
*                          *
*                          *
*  Table of Contents:      *
*   1. Variables           *
*   2. Main Styling        *
*   3. Header              *
*   4. Tabs                *
*   5. Search Bar          *
*   6. Give Stuff          *
*   7. About Us            *
*		8. My Stuff            *
*		9. Watchlist					 *
*	 10. Settings						 *
*   X. Modal Windows       *
*       - Steps            *
*       - Sign In Content  *
*       - Sign Up Content  *
*   Y. Popups              *
*   Z. Landfill Tracker    *
*                          *
\**************************/

/* Main Styling - START */

html, body, #container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 500px;
}

body, div {
	font-family: Arial;
}

input:read-only{
	background-color: #FFF;
}

.animate-250 {
	@include transition(all 250ms);
}

.animate-500 {
	@include transition(all 500ms);
}

/* Main Styling -  END  */

.side-menu {
	position: absolute;
	width: 200px;
	height: 100%;
	left: 0px;
	top: 0px;
	list-style: none;
	background-color: #efefef;
	z-index: 100;
	margin: 0;
	padding: 0;
	@include transform(translate3d(-100%, 0px, 0px));
}

.search-stuff-container {
	padding: 8px;
	height: 24px;
	pointer-events: all;
}

.stuff-input {
	height: 24px;
	padding: 13px 0px;
	border: 1px solid black;
	left: 0px;
	display: inline-block;
	position: relative;
	font-size: 18px;
	width: calc(100% - 36px);
}

.stuff-button {
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	padding: 4px;
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	background-color: white;
	margin: 0px;
	right: 8px;
	cursor: pointer;
}

#header {
	width: 100%;
	height: 40px;
	background-color: $primary-color;
}

#logo {
	height: 30px;
	display: inline-block;
	padding: 5px 10px;
	position: relative;
	top: 2px;
	cursor: pointer;
}

#user-portal {
	float: right;
	position: relative;
	display: inline-block;
	height: 100%;
}

.user-portal-buttons {
	position: relative;
	display: inline-block;
	padding: 0px 5px;
	margin-right: 15px;
	color: white;
	height: 100%;
	line-height: 40px;
	cursor: pointer;
}

#content {
	height: calc(100% - 40px);
	width: 100%;
	overflow: hidden;
	position: relative;
	display: block;
}

#map-view-container {
	height: 100%;
	width: calc(100% - 350px);
	display: inline-block;
	position: relative;
	#map-view {
		height: 100%;
		width: 100%;
		display: inline-block;
		position: absolute;
	}
	#center-marker-popup {
		background-color: white;
		width: 250px;
		height: 100px;
		position: absolute;
		top: calc(50% - 110px);
		opacity: 1;
		color: #3d3d3d;
		left: 50%;
		@include transform(translate3d(-50%, calc(-50% - 0px), 0));
		border-radius: 3px;
		line-height: 100px;
		text-align: center;
		font-size: 14px;
		display: block;
		&.hidden {
			@include transform(translate3d(-50%, calc(-50% - 50px), 0));
		}
		&::after {
			content: ' ';
			width: 0px;
			height: 0px;
			background-color: transparent;
			z-index: 2;
			position: absolute;
			top: 100%;
			left: 50%;
			@include transform(translateX(-50%));
			border-top: 15px solid white;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
		}
	}

	#center-marker {
		position: absolute;
		width: 20px;
		left: 50%;
		top: 50%;
		@include transform(translate3d(-50%, -300%, 0));
		opacity: 0.0001;
		z-index: 3;
		display: none;
		pointer-events: none;
		&.dropped {
			@include transform(translate3d(-50%, -100%, 0));
			opacity: 1;
		}
	}
}
/* Header - START */

#sign-in-button {
	width: 30px;
	height: 30px;
	line-height: 40px;
	font-size: 30px;
	background-color: $primary-color;
	color: #ffffff;
	padding: 5px 10px;
	cursor: pointer;
}

/* Header -  END  */



#get-stuff-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

.list-item-img-container {
	background-color: #ffffff;
}

.get-single-item-description {
	opacity: 1;
	&.hidden {
		opacity: 0.0001;
	}
}

.get-single-item-dibs-button {
	width: 96%;
	margin: 2%;
	height: 40px;
	font-size: 20px;
	background-color: #F99953;
	border-radius: 3px;
	border: none;
	position: fixed;
	bottom: 0px;
	opacity: 1;
	&.hidden {
		opacity: 0.0001;
	}
}


/* Tabs - START */

#tab-container {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 45px;
	width: 350px;
	display: inline-block;
	overflow: hidden;
}

.stuff-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 45px;
	background-color: #DEDEDE;
	border-bottom: 2px solid #3d3d3d;
	.logo-tab, .my-stuff-tab {
		display: none;
	}
	li {
		width: 50%;
		height: 100%;
		display: inline-block;
		position: relative;
		float: left;
		line-height: 45px;
		color: #3d3d3d;
		text-decoration: none;
		text-align: center;
		a {
			color: #3d3d3d;
			text-decoration: none;
			text-align: center;
			height: calc(100% - 5px);
			width: 100%;
			text-align: center;
			display: block;
			background-color: transparent;
			position: relative;
			cursor: pointer;
		}
		a.selected {
			background-color: #fff;
			color: #3d3d3d;
			height: 100%;
			font-weight: 700;
		}
	}
}
#tab-content-container {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: calc(100% - 45px);
	width: 350px;
	overflow: hidden;
}
#tab-content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	@include transform(translate3d(0%, 0%, 0));
	opacity: 1;
	&.ng-enter {
		@include transform(translate3d(100%, 0%, 0));
	}
	&.ng-enter.ng-enter-active {
		@include transform(translate3d(0%, 0%, 0));
	}
	&.ng-leave {
		@include transform(translate3d(0%, 0%, 0));
	}
	&.ng-leave.ng-leave-active {
		@include transform(translate3d(-100%, 0%, 0));
	}
	.stuff-list {
		display: inline-block;
		width: 100%;
		height: calc(100% - 40px);
		overflow: auto;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: calc(50% - 15px);
			margin-left: 10px;
			margin-right: 5px;
			margin-top: 10px;
			padding-bottom: 70%;
			display: inline-block;
			background-size: cover;
			background-position: 50% 50%;
			cursor: pointer;
			position: relative;
			a {
				width: 100%;
				height: 100%;
				position: absolute;
			}
		}
	}
}

.masonry-grid {
	display: inline-block;
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding: 0;
	margin-top: 0;
	overflow: auto;
}
.list-item-img-container img {
	width: 100%;
}
#masonry-container {
	background-color: #ffffff;
	height: calc(100% - 40px);
	width: 100%;
	overflow: auto;
}

.masonry-grid-item {
	width: calc(50% - 20px);
	margin: 10px;
	height: auto;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.45);
	background-size: cover;
	display: inline-block;
	position: relative;
	& a {
		display: block;
	}
}

.get-stuff-item-info {
	padding: 10px 5px;
}


/* Tabs -  END  */

/* Search - START */


/* Search -  END  */

/* Filter - START */


#filter-dropdown {
	display: none;
}

/* Filter -  END  */



/* Tabs -  END  */

/* Give Stuff - START */

#give-stuff-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	.give-stuff-steps {
		position: relative;
		width: 100%;
		margin:0;
		padding: 0;
		list-style: none;
		height: calc(100% - 40px);
		overflow: hidden;
		.give-steps {
			height: 100%;
			width: 100%;
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 0px;
			@include transform(translate3d(100%, 0%, 0));
			&.active {
				@include transform(translate3d(0%, 0%, 0));
			}
			&.completed {
				@include transform(translate3d(-100%, 0%, 0));
			}
		}
	}
	#give-stuff-tabs-container {
		margin: 0;
		padding: 0;
		background-color: #efefef;
		width: 100%;
		position: absolute;
		height: 40px;
		pointer-events: all;
		#give-stuff-progress {
			width: 100%;
			height: 100%;
			@include transform(translate3d(-83%, 0%, 0));
			background-color: deepskyblue;
			position: absolute;
			z-index: 1;
			&.step2-done{
				@include transform(translate3d(-58%, 0%, 0));
			}
			&.step3-done{
				@include transform(translate3d(-33%, 0%, 0));
			}
			&.step4-done{
				@include transform(translate3d(-7%, 0%, 0));
			}
		}
		#give-stuff-tabs {
			position: absolute;
			z-index: 2;
			height: 100%;
			width: 100%;
			margin: 0 auto;
			padding: 0;
			.give-steps-tab {
				position: relative;
				color: #3d3d3d;
				display: inline-block;
				height: 100%;
				width: calc(100% / 4);
				font-weight: 600;
				text-align: center;
				.give-step-spacer {
					width: 30%;
					display: inline-block;
					background-color: #cccccc;
					height: 100%;
				}
				.give-step-min {
					@include inverseCircleOverflow(#cccccc, rgba(0,0,0,0), 4, 0);
					width: 15%;
					display: inline-block;
					height: 100%;
				}
				.give-step-main {
					width: 40%;
					@include inverseCircleOverflow(#cccccc, rgba(0,0,0,0), 10, 0);
					display: inline-block;
					height: 100%;
				}
			}
		}
	}
}
#give-step1 {
	#give-image-verify-container {
		z-index: 3;
		background-color: #000000;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0.0001;
		display: none;
		#give-image-verify {
			@include transform(translate3d(0%, 40px, 0));
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: contain;
		}
		&.visible {
			opacity: 1;
		}
		&.visible #give-image-verify {
			@include transform(translate3d(0%, 0px, 0));
		}
		.give-reject1 {
			color: red;
			position: absolute;
			left: 25%;
			font-size: 48px;
			bottom: 5%;
			@include transform(translateX(-50%));
			cursor: pointer;
			z-index: 4;
		}
		.give-accept1 {
			color: mediumseagreen;
			position: absolute;
			right: 25%;
			font-size: 48px;
			bottom: 5%;
			@include transform(translateX(50%));
			cursor: pointer;
			z-index: 4;
		}
	}
	.give-image-container {
		position: relative;
		height: calc(100% - 50px);
		background: #CCCCCC;
		color: #3d3d3d;
		text-align: center;
		overflow-x: hidden;
		.give-image-cover {
			height: 100%;
			width: 100%;
			position: absolute;
			display: block;
			z-index: 5;
		}
		.give-image-bg {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			.give-image-bg-corner {
				position: absolute;
				width: 60px;
				height: 60px;
				z-index: 1;
				&.give-image-bg-top-left {
					left: 10px;
					top: 10px;
					border-left: 5px solid #3d3d3d;
					border-top: 5px solid #3d3d3d;
					border-bottom: 5px solid #cccccc;
					border-right: 5px solid #cccccc;
				}
				&.give-image-bg-top-right {
					right: 10px;
					top: 10px;
					border-left: 5px solid #cccccc;
					border-top: 5px solid #3d3d3d;
					border-bottom: 5px solid #cccccc;
					border-right: 5px solid #3d3d3d;
				}
				&.give-image-bg-bottom-left {
					left: 10px;
					bottom: 10px;
					border-left: 5px solid #3d3d3d;
					border-top: 5px solid #cccccc;
					border-bottom: 5px solid #3d3d3d;
					border-right: 5px solid #cccccc;
				}
				&.give-image-bg-bottom-right {
					right: 10px;
					bottom: 10px;
					border-left: 5px solid #cccccc;
					border-top: 5px solid #cccccc;
					border-bottom: 5px solid #3d3d3d;
					border-right: 5px solid #3d3d3d;
				}
			}
			.give-image-bg-content {
				z-index: 2;
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				.give-image-take-a-pic {
					position: absolute;
					top: 50%;
					margin-top: -75px;
					font-size: 24px;
					width: 100%;
				}
				.give-image-icon-1 {
					font-size: 64px;
					position: absolute;
					top: 50%;
					@include transform(translate(-50%, -50%));
					width: 100%;
					text-align: center;
					left: 50%;
				}
				.give-image-choose-option {
					position: absolute;
					top: 50%;
					margin-top: 50px;
					font-size: 20px;
					width: 100%;
				}
				.give-image-icon-2 {
					font-size: 64px;
					bottom: 20px;
					position: absolute;
					left: 50%;
					width: 100%;
					animation: bouncyarrow 1000ms infinite;
				}
			}
		}
		.give-image-canvas {
			height: 100%;
			width: 100%;
			position: relative;
		}
	}
	.give-image-options {
		height: 50px;
		width: 100%;
		display: block;
		position: relative;
		.give-image-buttons {
			width: 50%;
			height: 50px;
			margin: 0 auto;
			display: inline-block;
			position: relative;
			text-align: center;
			line-height: 40px;
			background-color: #efefef;
		}
		.give-image-select {
			position: absolute;
			height: 0px;
			width: 0px;
			opacity: 0.00001;
			z-index: -1;
		}
	}
}

#give-step2 {
	color: #3d3d3d;
	#give-location-container{
		background-color: #CCCCCC;
		height: calc(100% - 50px);
		position: relative;
		display: block;
		#give-location-text1 {
			top: calc(50% - 100px);
		}
		#give-location-text2 {
			top: calc(50% + 100px);
		}
		.give-location-text {
			position: absolute;
			width: 100%;
			text-align: center;
			font-size: 24px;
		}
		.give-location-icon {
			top: 50%;
			position: absolute;
			font-size: 160px;
			@include transform(translate3d(0%, -50%, 0));
			width: 100%;
			text-align: center;
		}
	}
	#give-location-next-step {
		width: 100%;
		position: absolute;
		bottom: 0px;
		padding: 0;
		margin: 0;
		height: 50px;
		pointer-events: all;
		background-color:#efefef;
		pointer-events: all;
	}
}

#give-step3 {
	background-color: #ffffff;
	#give-item-uploading-screen-container {
		background-color: #CCCCCC;
		height: 100%;
		width: 100%;
		z-index: 3;
		position: absolute;
		top: 0px;
		left: 0px;
		@include transform(translate3d(0%, -50px, 0));
		opacity: 0.0001;
		display: none;
		&.visible {
			@include transform(translate3d(0%, 0px, 0));
			opacity: 1;
		}
		#give-item-uploading-screen {
			width: 100%;
			color: #3d3d3d;
			top: 50%;
			position: relative;
			display: inline-block;
			@include transform(translate3d(0%, -50%, 0));
			.give-loader-text {
				position: relative;
				font-size: 18px;
				bottom: 0px;
				width: 100%;
				text-align: center;
			}
		}
	}
	#give-image-detail-container {
		height: 200px;
		#give-static-map1-container {
			width: 55%;
			height:100%;
			display: inline-block;
			overflow: hidden;
			#give-static-map1 {
				position: relative;
				left: 50%;
				@include transform(translate3d(-50%, 0%, 0));
				height: 100%;
				width: auto;
			}
		}
		#give-image-details {
			width: 45%;
			height:100%;
			background-size: contain;
			background-position: 50% 50%;
			background-color: #3d3d3d;
			background-repeat: no-repeat;
			display: inline-block;
		}
	}
	#give-description-title {
		width: calc(100% - 20px);
		border: none;
		font-size: 18px;
		margin-left: 10px;
		margin-right: 10px;
		top: 10px;
		position: relative;
		border-bottom: 1px solid #3d3d3d;
	}
	.give-category-header {
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 0px;
		margin-left: 10px;
	}
	#give-category-selector-container {
		border-bottom: 1px solid #3d3d3d;
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
	#give-category-selector {
		width: calc(100% + 8px);
		border: none;
		font-size: 16px;
		border-radius: 0;
		position: relative;
		background-color: #fff;
		margin-left: -8px;
	}
	.give-checkbox-container {
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		width: calc(100% - 20px);
		border-bottom: 1px solid #3d3d3d;
		span {
			font-size: 12px;
		}
		.give-checkbox-question {
			color: deepskyblue;
			right: 10px;
			position: absolute;
			cursor: pointer;
		}
	}
	#give-description {
		width: calc(100% - 20px);
		margin: 10px;
		position: relative;
		top: 10px;
		display: inline-block;
		border: none;
		margin-top: 0;
		margin-bottom: 0;
		height: 18px;
		border-bottom: 1px solid #3d3d3d;
		font-size: 16px;
	}
	#give-description-submit {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: 50px;
		display: block;
	}
}
#give-step4 {
	background-color: #ffffff;
	#give-finished-map-container {
		height: 200px;
		#give-finished-map {
			position: relative;
			height: 100%;
			left: 50%;
			@include transform(translate3d(-50%, 0%, 0));
		}
	}
	#give-finished-image {
		height: 150px;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: #3d3d3d;
	}
	#give-finished-edit-button {
		height: 60px;
		width: 100%;
		border-radius: 0px;
		font-size: 20px;
	}
}

/* Give Stuff -  END  */

/* Modal Windows - START */

#modal-windows {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999;
	display: none;
	perspective: 500px;
}

.modal-windows-bg {
	background-color: rgba(0,0,0,0.45);
	height: 100%;
	width: 100%;
	opacity: 0.0001;
}

.modal-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	@include transform(translate3d(0px, 100%, 0px));
}
.close-modal-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal-window {
	background-color: #efefef;
	width: 400px;
	height: 480px;
	position: relative;
	left: 50%;
	top: 50%;
	@include transform(translate3d(-50%, -50%, 0px));
	z-index: 2;
	display: inline-block;
	overflow: hidden;
}

.modal-header {
	background-color: #cccccc;
	color: #3d3d3d;
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: relative;
}

.modal-title {
	position: absolute;
	width: 100%;
	height: 48px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	color: #3d3d3d;
	top: -39px;
	@include transform(translate3d(0%, 0%, 0) scale3d(1, 1, 1));
}

#sign-in-step .modal-title::before {
	content : '<';
	opacity: 0.0001;
	@include transform(translate3d(-20px, 0px, 0) scale3d(1,1.7, 1));
	position: absolute;
}
#sign-in-step .modal-title.visible::before {
	opacity: 1;
}

.modal-back-button {
	width: 110px;
	height: 33px;
	position: absolute;
	top: -39px;
	cursor: pointer;
}

.modal-close {
	width: 48px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	height: 48px;
	right: 0;
	top: 0;
	display: inline-block;
	line-height: 48px !important;
	color: #3d3d3d;
	z-index: 3;
}

#modal-windows.modal-windows-open {
	display: block;
}

.modal-container.modal-window-open {
	@include transform(translate3d(0px, 0%, 0));
}
.modal-windows-bg.modal-windows-bg-open {
	opacity: 1;
}

.modal-content {
	height: calc(100% - 48px);
	display: inline-block;
	width: 100%;
	position: relative;
}
.modal-off {
	display: none;
}
.modal-step {
	@include transform(translate3d(0%, 0%, 0));
	position: absolute;
	width: 100%;
	height: 100%;
}
.hidden-modal {
	@include transform(translate3d(100%, 0%, 0));
}

/* Sign In Content - START */

.sign-in-up-input {
	display: block;
	border-radius: 3px;
	overflow: hidden;
	border: 0px;
	width: 80%;
	height: 36px;
	margin: 20px 10%;
	padding: 0;
	font-size: 14px;
	cursor: pointer;
}
.social-button {
	color: white;
	text-align: center;
}
.sign-in-local-text {
	text-align: center;
	display: block;
	width: 100%;
}
.local-sign-in-up {
	width: 74%;
	padding: 0px 3%;
	cursor: auto;
}
.google-plus-sign-in {
	background-color: #DC4E41;
}
.facebook-sign-in {
	background: #4c69ba;
	background: -moz-linear-gradient(top,  #4c69ba 0%, #3b55a0 100%);
	background: -webkit-linear-gradient(top,  #4c69ba 0%,#3b55a0 100%);
	background: linear-gradient(to bottom,  #4c69ba 0%,#3b55a0 100%);
}
.social-sign-in-icon {
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: red;
	display: inline-block;
	position: relative;
	font-size: 18px;
}
.social-sign-in-icon-facebook {
	background-color: #1b3685;
}
.social-sign-in-icon-google {
	background-color: #aa2a1f;
}
.social-sign-in-text {
	width: calc(100% - 36px);
	height: 36px;
	line-height: 36px;
	display: inline-block;
	position: relative;
	font-size: 16px;
}

/* Sign In Content -  END  */

/* Modal Windows -  END  */

/* Popups - START */

#popups {
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: inline-block;
	z-index: 9999;
	.popups {
		position: absolute;
		opacity: 1;
		background-color: #efefef;
		padding: 5px;
		list-style: none;
		border-radius: 3px;
		box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
		@include transform(scale3d(1, 1, 1));
		li {
			padding: 5px 10px;
			cursor: pointer;
			i {
				width: 20px;
				text-align: center;
			}
			span {
				text-indent: 5px;
				display: inline-block;
			}
		}
	}
	.popups-top-right {
		transform-origin: 90% -10px;
	}
	.popups::after {
		content: ' ';
		background-color: #efefef;
		top: -7px;
		right: 10px;
		position: absolute;
		width: 16px;
		height: 16px;
		@include transform(rotate(45deg));
		z-index: -1;
	}
	.popups-top-right::after {
		top: -7px;
		right: 10px;
	}
	.hidden-popup {
		opacity: 0.0001;
		@include transform(scale3d(0.0001, 0.0001, 1));
	}
}
#profile-popup {
	top: 46px;
	right: 4px;
	width: 160px;
}
.popups {
	position: absolute;
	opacity: 1;
	background-color: #efefef;
	padding: 5px;
	list-style: none;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
	@include transform(scale(1));
}
.popups-top-right {
	transform-origin: 90% -10px;
}
.popups::after {
	content: ' ';
	background-color: #efefef;
	top: -7px;
	right: 10px;
	position: absolute;
	width: 16px;
	height: 16px;
	@include transform(rotate(45deg));
	z-index: -1;
}
.popups-top-right::after {
	top: -7px;
	right: 10px;
}
.hidden-popup {
	opacity: 0.0001;
	@include transform(scale(0.0001));
}
.popups li {
	padding: 5px 10px;
	cursor: pointer;
}
.popups li i {
	width: 20px;
	text-align: center;
}
.popups li span {
	text-indent: 5px;
	display: inline-block;
}


/* Popups -  END  */

/* Landfill Tracker - START */

#landfill-tracker {
	width: $landfill-tracker-width;
	height: calc(100% - 10px);
	display: inline-block;
	margin: 5px;
	.topElement {
		background-color: $landfill-tracker-color-base;
		color: $landfill-tracker-font-color;
		font-family: $landfill-tracker-font-family;
	}
	.bottomElement {
		background-color: $landfill-tracker-color-base;
		color: $landfill-tracker-font-color;
		font-family: $landfill-tracker-font-family;
	}
	.topElementEnter {
		background-color: $landfill-tracker-color-fold;
	}
	.bottomElementEnter {
		background-color: $landfill-tracker-color-fold;
	}
}

/* Landfill Tracker -  END  */



@include keyframes(bouncyarrow) {
	0% {
		@include transform(translate3d(-50%, 0%, 0px));
	}
	50% {
		@include transform(translate3d(-50%, -20%, 0px));
	}
	100% {
		@include transform(translate3d(-50%, 0%, 0px));
	}
}

/* About Us - START */

.about-us-main {
	display: block;
	height: 100%;
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana;
	overflow: auto;
}
#about-us-wrapper {
	width: 100%;
	height: 100%;
}
.about-us-ul {
	padding: 0;
}
#about-us-wrapper li {
	list-style: square;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.2em;
}

#about-us-image-div {
	background-image: url('/img/team-photo.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 38em;
}
#about-us-benefit {
	width: 33%;
	padding: 2em;
	background-color: rgb(139, 195, 74);
}
#benefit p {
	padding: 0;
}
#about-us-last{
	width: 33%;
	padding: 2em;
	background-color: rgb(159, 214, 97);
}
.about-us-img {
	width: 100%;
}
.about-us-section {
	border-top: 1px black solid;
	height: calc(100% - 27.1em);
}
.about-us-blockquote {
	width: 33%;
	margin: 0;
	padding: 2em;
}
.about-us-article {
	height: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: row;
}
.about-us-p {
	margin: 0;
}
.about-us-a {
	text-decoration: none;
}

/* About Us - END */


/* My Stuff - START */
.my-stuff-container {
	height: 100%;
}

.my-stuff-nav {
	margin: 0;
	list-style: none;
}

#my-container {
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background-color: #ffffff;
	overflow-y: auto;
	overflow-x: hidden;
}

/* My Stuff - END */

/* Messages - START */
/* Messages -  END  */

/* Conversations - START */

#conversation-container {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
}
#conversation-messages-container {
	height: calc(100% - 44px);
	background-color: #ffffff;
	position: relative;
	display: block;
}
#conversation-messages {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0px;
}
#conversation-input-container {
	background-color: #efefef;
	padding: 6px 0;
	height: 32px;
	width: 100%;
	display: block;
	position: relative;
	outline: solid 1px black;
}
.conversation-input-button {
	color: white;
	background-color: deepskyblue;
	display: inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 7px 1px;
	line-height: 30px;
	text-align: center;
	top: 0px;
	position: absolute;
	cursor: pointer;
}
#conversation-auto-reply{
	left: 0px;

}
#conversation-send-reply {
	right: 0px;
}
#cnversation-input {
	border-radius: 5px;
	background-color: #ffffff;
	resize: none;
	height: 26px;
	width: calc(100% - 80px);
	display: block;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 6px;
	font-size: 20px;
	line-height: 32px;
	position: relative;
	top: 0px;
	margin: 0 auto;
	z-index: 1;
}
.conversation-out-message {
	width: 80%;
	margin: 5px 5% 5px 15%;
	background-color: limegreen;
	padding: 3px;
	color: #fff;
	border-radius: 2px;
	position: relative;
}
.conversation-out-message::before {
	content: ' ';
	width: 0px;
	height: 0px;
	display: block;
	position: absolute;
	right: -14px;
	top: 5px;
	border-right: 7px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid limegreen;
}
.conversation-in-message {
	width: 80%;
	margin: 5px 15% 5px 5%;
	background-color: forestgreen;
	padding: 3px;
	color: white;
	border-radius: 2px;
	position: relative;
}
.conversation-in-message::before {
	content: ' ';
	width: 0px;
	height: 0px;
	display: block;
	position: absolute;
	left: -14px;
	top: 5px;
	border-left: 7px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid forestgreen;
}
/* Conversations -  END  */

/* Watchlist - START */
.watchlist-container {
	position: absolute;
	height: 98%;
	width: 97%;
	margin: 5px;
	outline: #E6E9ED solid 1px;
}
.tag-container {
	background-color: #fff;
	height: calc(100% - 6.4em);
	overflow: auto;
}
.tag-form {
	padding-left: 20px;
	padding-right: 20px;
}
.tag-form input {
	text-align: center;
	position: relative;
	height: 40px;
	width: calc(100% - 6px);
	outline: 1px solid #E6E9ED;
}

.tag-form button {
	height: 40px;
	width: 100%;
	width: 100%;
	cursor: pointer;
	-moz-box-shadow: inset -2px -2px grey;
	-webkit-box-shadow: inset -2px -2px grey;
	box-shadow: inset -2px -2px grey;
	border: none;
}

.tag-list {
	height: 100%;
	padding: 10px;
	margin: 0;
	list-style-type: none;
	overflow-y: auto;
	font-size: 17px;
	padding-left: 20px;
	padding-right: 20px;
}
.tag-list li {
	margin-bottom: 9px;
}
.tag-list span {
	padding: 2px;
	outline: 1px solid #E6E9ED;
	margin: 5px;
}
/* Watchlist - END */

/* Settings - Start */
.settings-header {
	padding-bottom: 5px;
	text-align: center;
}
.settings-header h1 {
	display: inline-block;
	padding-top: 5px;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	height: 24px;
	width:100%;
	color: #AAB2BE;
	background-color: #F5F7FA;
	font-weight: 300;
}
.settings-header p {
	width: 80px;
}
// .settings-header img {
// 	height: 120px;
// 	display: inline-block;
// 	border: 1px solid #6f6f6f;
//   border-radius: 61px;
// 	margin: 0;
// }
.settings-header-button {
	width: 50%;
	height: 36px;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	margin-right: 5%;
	-moz-box-shadow: inset -2px  -2px #808080;
	-webkit-box-shadow: inset -2px  -2px #808080;
	box-shadow: inset -2px  -2px #808080;
	border: none;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	transition:  background-color 0.5s ease;
}
.settings-header-button:hover {
	background-color: $primary-color;
}
.settings-form {
	padding: 13px;
	font-size: .9em;
}

.settings-form ul {
	width:100%;
	list-style-type:none;
	list-style-position:outside;
	padding:0px;
}
.settings-form ul p {
	padding-left: 7px;
	margin-top: 10px;
	margin-bottom: 0;
}
.settings-form li {
	padding:.45em;
	position:relative;
}
.settings-form li p {
	margin-bottom: 0;
	margin-top: 20px;
}
.settings-form label {
	padding: 7px;
}
.settings-form input {
	height:20px;
	width:97%;
	padding-left: 5px;
}
.settings-profile li {
	border-bottom: 1px solid #F5F7FA;
}
.settings-profile p {
	float: right;
}
.settings-form textarea {
	padding:8px; width:50%;
}
.settings-form input:focus, .settings-form textarea:focus {
	background: #fff;
	border:1px solid #555;
	box-shadow: 0 0 3px #aaa;
}
.settings {
	background-color: #fff;
	margin: 5px;
	outline: 1px solid #E6E9ED;
}
.settings-sign-in-up-input {
	display: block;
	border-radius: 3px;
	overflow: hidden;
	border: 0;
	width: 100%;
	height: 36px;
	padding: 0;
	font-size: 14px;
	cursor: pointer;
}
.edit-profile {
	transition: all linear 0.5s;
}
.edit-profile.ng-hide {
	opacity: 0;
}
.edit-profile button {
	width: 97%;
	height: 30px;
	cursor: pointer;
	margin-left: 4px;
	margin-top: 15px;
	display: inline-block;
	-moz-box-shadow: inset -2px  -2px #808080;
	-webkit-box-shadow: inset -2px  -2px #808080;
	box-shadow: inset -2px  -2px #808080;
	border: none;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	transition:  background-color 0.5s ease;
}
// .edit-profile button:first-of-type:hover {
// 	background-color: $primary-color;
// }
// .edit-profile button:last-of-type:hover {
// 	background-color: #dc4e41;
// }
.nosuccess {
	display: none;
}
.success {
	width: 91%;
	display: none;
	position: absolute;
	background-color: #383838;
	color: #F0F0F0;
	font-family: Calibri;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 24px -1px #383838;
	-moz-box-shadow: 0 0 24px -1px #383838;
	box-shadow: 0 0 24px -1px #383838;
	opacity: 1;
}
.user-info {
	padding: 15px;
}
.user-info label {
	display: block;
	font-size: 14px;
	color: #6f6f6f;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
}
.user-info input {
	display: block;
	width: 97%;
	font-size: 16px;
	height: 25px;
	padding-left: 5px;
	margin-top: 3px;
}
.connections {
	margin: 0;
}
.connections li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	color: #b1b1b1;
}
.connections li:first-child {
	margin: 0;
	font-size: 13px;
	padding: 0 3px;
}

/* Settings - End */

@media screen and (max-width: 436px) {
	.modal-window {
		width: 100%;
		height: 100%;
	}
	#tab-content-container {
		width: 100%;
	}
	#give-step2 {
		#give-location-container{
			display: none;
		}
	}
	#landfill-tracker {
		width: 112px;
	}
	#tab-content-container {
		width: 100%;
	}
	#tab-container {
		width: 100%;
	}
	.modal-window {
		width: 100%;
	}

	.search-stuff-container {
		position: relative;
		padding: 8px;
		height: 24px;
		z-index: 2;
		background-color: #fff;
	}

	.stuff-input {
		width: calc(100% - 3.9em);
		left: 2em;
		border-radius: 0.5em;
	}

	.toggle {
		margin-top: .3em;
		position: absolute;
	}
	.toggle-button {
		background-color: #E6E9ED;
		border-radius: 4em;
		border: 1px solid;
		height: 1em;
		cursor: pointer;
		width: 1.8em;
		position: relative;
		display: inline-block;
		user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
	}
	.toggle-button button {
		cursor: pointer;
		outline: 0;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 100%;
		width: 1.2em;
		height: 1.2em;
		background-color: white;
		float: left;
		border: 1px black solid;
		transition: left 0.3s;
	}
	.toggle-button-selected {
		background-color: #00ff1b;
		border: 1px black solid;
	}
	.toggle-button-selected button {
		left: 1.1em;
		top: 0;
		border: 1px solid #000;
		width: 1.2em;
		height: 1.2em;
		margin: 0.05em 0 0 0.05em;
		box-shadow: 0 0 4px rgba(0,0,0,.1);
	}

	#masonry-container {
		@include transform(translate3d(0px, 0%, 0));
	}
	#masonry-container.hide-masonry-container {
		@include transform(translate3d(0px, 100%, 0));
	}

	#map-view-container {
		width: 100%;
		#map-view {
			height: calc(100% - 85px);
			width: 100%;
			margin-top: 90px;
			z-index: 0;
			display: inline-block;
		}
	}


	/* Modal - START */
	/* About Us - START */

	#about-us-image-div {
		height: 16em;
		margin-bottom: 0;
		text-align: left;
	}

	#about-us-benefit {
		width: 91%;
	}
	#benefit {
		padding: 1em;
	}
	#benefit p {
		padding: 0;
	}
	#about-us-last{
		width: 95%;
		padding: 1em;
		height: 100%;
	}
	.about-us-img {
		width: 100%;
	}
	.about-us-section {
		font-size: .7em;
		height: calc(100% - 21em);
	}
	.about-us-blockquote {
		width: 94%;
		margin: 0;
		padding: 1em;
	}
	.about-us-article {
		flex-direction: column;
	}

	/* About Us - END */

	/* Watchlist - START */
	.tag-list {
		height: 24.8em;
		margin: 0;
	}

	/* Watchlist - END */

	/* Settings - Start */
	.settings-header {
		padding-bottom: 0;
	}
	.settings-form {
		font-size: .9em;
	}
	.settings-profile {
		margin-top: 0;
	}
	.settings-form ul {
		margin-bottom: 0;
	}
	.settings-form li {
		padding: .26em;
	}
	.settings-form input {
		outline: 1px solid #F5F7FA;
	}
	.settings-sign-in-up-input {
		width: 100%;
	}
	.user-info {
		padding: 3px 15px;
	}
	.connections {
		margin-top: 10px;
	}
	.connections > li:first-child {
		display: none;
	}
	.connections li {
		margin: 0;
	}
	/* Settings - End */
	/* Popups - START */

	#profile-popup {
		width: 94%;
		height: 511px;
	}
	#popups .popups li {
		text-align: center;
		padding: 38px 5px 5px 10px;
		outline: 1px solid #808080;
		height: 59px;
	}
	/* Popups - End */

}

@media screen and (min-width: 767px) {
	/* About Us - START */

	#about-us-image-div {
		height: 32em;
		margin-bottom: 0;
		text-align: left;
	}

	#about-us-benefit {
		width: 95%;
	}
	#benefit {
		padding: 1em;
	}
	#benefit p {
		padding: 0;
	}
	#about-us-last{
		width: 99%;
		padding: 1em;
		height: 100%;
	}
	.about-us-img {
		width: 100%;
	}
	.about-us-section {
		height: calc(100% - 21em);
	}
	.about-us-blockquote {
		width: 94%;
		margin: 0;
		padding: 1em;
	}
	.about-us-article {
		flex-direction: column;
	}
	.about-us-p {
		padding-left: 1em;
		padding-right: 1em;
	}
	.about-us-a {
		text-decoration: none;
	}
	/* About Us - END */

}


@media screen and (min-width: 437px){
	.toggle{
		display: none;
	}
}

/* LOADERS??? - START */

.loader:before,
.loader:after,
.loader {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: #ffffff;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@include keyframes(load7) {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

/* LOADERS??? -  END  */
