#conversation-container
	#conversation-messages-container
		ul#conversation-messages
			li.conversation-message(ng-repeat="message in conversation | reverse" class="conversation-{{ message.type }}-message") {{ message.message }}
	#conversation-input-container
		.conversation-input-button-container
			#conversation-auto-reply.conversation-input-button
				i.fa.fa-comment
		textarea#cnversation-input(placeholder="type a message...")
		.conversation-input-button-container
			#conversation-send-reply.conversation-input-button(ng-click="sendMessage()")
				i.fa.fa-send
