#get-stuff-container
	div(ui-view)
	#loading-get-stuff.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.loading-text Finding Stuff...
	.settings-header
		h1 Filter & Settings
	.search-stuff-container
		i#map-toggle-switch.fa.fa-map.stuff-button.toggle-stuff(ng-click="toggleMap()")
		input#search-stuff.stuff-input(type='search' placeholder='Search' ng-init="showDistance()" ng-model="searchStuff" multiple="multiple")
		i.fa.fa-search(ng-click="filterSearch(); attendedUnattended()")
	#get-stuff-back-button-container.hidden.animate-250
		i.get-stuff-back-button.fa.fa-arrow-left.hidden.animate-250(ng-click="setGetStuff()")
		#get-stuff-item-title.hidden.animate-250
	ion-content#masonry-container.animate-250.hide-masonry-container
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems | filter:searchStuff:strict" repeat-done="initMasonry()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div {{ list.title }}
	form#filter-pane.animate-250
		#filter-head
			p Filters
		#distance-from-me
			p Distance from me
				span
					label#rangeText
			input#rangeInput.distance-slider(type="range", name="rangeInput", step="1", value="0", min="0", max="20")
			
		#newlisting
			p New listing
			.filter-label
				input#newlisting-show(type="checkbox", name="newlisting-show", value="newlisting-show")
				label.fa.fa-check(for="newlisting-show") 
					span only show new listings
			
		#item-status
			p Item status
			.filter
				.filter-label
					input#item-status-unattended(type="checkbox", name="item-status-unattended", value="item-status-unattended" checked)
					label.fa.fa-check(for="item-status-unattended") 
						span unattended
				.filter-label
					input#item-status-contact(type="checkbox", name="item-status-contact", value="item-status-contact" checked)
					label.fa.fa-check(for="item-status-contact") 
						span contact for pickup
		#categories
			p Categories
			.select-deselect

					input#select-all(type="checkbox", name="select-all", value="select-all", ng-i="selectAll()")
					label.fa.fa-check(for="select-all") 
						span select all

					input#deselect-all(type="checkbox", name="deselect-all", value="deselect-all", ng-init="deselectAll()")
					label.fa.fa-times(for="deselect-all") 
						span deselect all
			.filter
				.filter-label
					input#arts-crafts(type="checkbox", name="arts-crafts", value="arts & crafts" checked)
					label.fa.fa-check(for="arts-crafts") 
						span arts & crafts
				.filter-label
					input#books-games-media(type="checkbox", name="books-games-media", value="books, games, media" checked)
					label.fa.fa-check(for="books-games-media") 
						span books, games, media
				.filter-label
					input#building(type="checkbox", name="building", value="building & garden materials" checked)
					label.fa.fa-check(for="building") 
						span building & garden materials
				.filter-label
					input#clothes(type="checkbox", name="clothes", value="clothes & accessories" checked)
					label.fa.fa-check(for="clothes") 
						span clothes & accessories
				.filter-label
					input#electronics(type="checkbox", name="electronics", value="electronics" checked)
					label.fa.fa-check(for="electronics") 
						span electronics
				.filter-label
					input#furniture(type="checkbox", name="furniture", value="furniture & household" checked)
					label.fa.fa-check(for="furniture") 
						span furniture & household
				.filter-label
					input#general(type="checkbox", name="general", value="general" checked)
					label.fa.fa-check(for="general") 
						span general					
				.filter-label
					input#kids-babies(type="checkbox", name="kids-babies", value="kids & babies" checked)
					label.fa.fa-check(for="kids-babies") 
						span kids & babies
				.filter-label
					input#recreation(type="checkbox", name="recreation", value="recreation" checked)
					label.fa.fa-check(for="recreation") 
						span recreation
