#get-stuff-container
	div(ui-view)
	#loading-get-stuff.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.loading-text Finding Stuff...
	.settings-header
		h1 Filter & Settings
	.search-stuff-container
		i#map-toggle-switch.fa.fa-map.stuff-button.toggle-stuff(ng-click="toggleMap()")
		input#search-stuff.stuff-input(type='search' placeholder='Search' ng-init="showDistance()" ng-model="searchStuff")
		i.fa.fa-search(ng-click="filterSearch()")
	#get-stuff-back-button-container.hidden.animate-250
		i.get-stuff-back-button.fa.fa-arrow-left.hidden.animate-250(ng-click="setGetStuff()")
		#get-stuff-item-title.hidden.animate-250
	ion-content#masonry-container.animate-250.hide-masonry-container
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems | filter:searchStuff:strict" repeat-done="initMasonry()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div {{ list.title }}
	#filter-pane.animate-250 
	//- gentle select library
		#filter-head
			p Filters
		#distance-from-me
			p Distance from me
				span
					label#rangeText
			input#rangeInput.distance-slider(type="range", name="rangeInput", step="1", value="1", min="1", max="20")
			
		#newlisting
			p New listing
			select( size="2")
				option.fa.fa-check only show new listings
		#item-status
			p Item status
			select(ng-model="searchStuff", size="2")
				option.fa.fa-check unattended
				option.fa.fa-check contact for pickup
		#categories
			p Categories
			form 
				.select-deselect
					select(ng-model="searchStuff", size="10")
						option.fa.fa-check select all
						option.fa.fa-times deselect all
				.filter
					select(ng-model="searchStuff", size="10")
						option.fa.fa-check Arts & Crafts
						option.fa.fa-check Books, Games, Media
						option.fa.fa-check Building & Garden Materials
						option.fa.fa-check Clothes & Accessories
						option.fa.fa-check Electronics
						option.fa.fa-check Furniture & Household
						option.fa.fa-check General
						option.fa.fa-check Kids & Babies
						option.fa.fa-check Recreation
				//- li Attended/Unattended
				//- 	select
				//- 		option Attended
				//- 		option Unattended
				//- 		option All
				
