.info-windows.hidden.animate-250(id="info-window-{{id}}")
	.info-window-header
		span.info-window-image(style="background-image: url(https://cdn.stuffmapper.com{{image_url}});")
		span.info-window-header-text
			.info-window-header-description {{description}}
		.info-window-dibs-button Dibs!
	.info-window-text
		.info-window-title {{title}}
		.info-window-description {{description}}
	.info-window-footer
		span.info-window-category {{category}}
		span.info-window-attended {{attended}}
