<<<<<<< HEAD
#map-view
#tab-container
    ul.tabs
        li.logo-tab
            a(ng-click)
        li.get-stuff-tab
            a(ui-sref="stuff.get") Get Stuff
        li.give-stuff-tab
            a(ui-sref="stuff.give") Give Stuff
        li.my-stuff-tab
            a(ui-sref="stuff.my") My Stuff
    #tab-content(ui-view)
=======
#map-view
#tab-container
    ul.tabs
        li.logo-tab
            a(ng-click)
        li.get-stuff-tab
            a(ui-sref="stuff.get") Get Stuff
        li.give-stuff-tab
            a(ui-sref="stuff.give") Give Stuff
        li.my-stuff-tab
            a(ui-sref="stuff.my") My Stuff
    #tab-content(ui-view)
>>>>>>> 165b547c0bf52b4867c71861d2922c16df238a50
