main
  #wrapper
    #image-div
      img.banner(src='https://placeholdit.imgix.net/~text?txtsize=85&bg=000000&txt=1020%C3%97450&w=1020&h=450')
    section.about-us-section
      article.about-us-article
        blockquote.about-us-blockquote
          i
            | Our mission is to save millions of items from landfills everywhere and our vision
            | is to support and grow the free &#40;reusable&#41; stuff movement. As the technological voice
            | for people who want to exchange free items in the easiest way, we&#39;re eager to help reverse the
            | adverse effects of climate change with a business that directly saves Earth. Reuse and reduce is
            | the result of every transaction on Stuffmapper.
        #benefit
          p.about-us-p
            strong Communities benefit
          ul.about-us-ul
            li
              | Less CO2 emitted with minimized manufacture and transport of stuff from overseas or across the country.
            li Alternative to driving far to find or buy stuff.
            li More vibrant and fluid marketplace for free stuff.
            li Contributions to landfills go down.
        #last
          p.about-us-p You make this possible and we thank you!
          p.about-us-p
            | Have suggestions for improving the experience? We&#39;re eager to hear them! Please send to
            span
              a.about-us-a(href='support@stuffmapper.com') support@stuffmapper.com
            | .
