#conversation-container
	#conversation-messages-container
		ul#conversation-messages
			li.conversation-message-container(ng-repeat="message in conversation | reverse" class="conversation-message-container-{{ message.type }}")
				.conversation-message(class="conversation-{{ message.type }}-message") {{ message.message }}
	#conversation-input-container
		.conversation-input-button-container
			#conversation-auto-reply.conversation-input-button
				i.fa.fa-comment
		textarea#conversation-input(rows="1" placeholder="type a message...")
		.conversation-input-button-container
			#conversation-send-reply.conversation-input-button(ng-click="sendMessage()")
				i.fa.fa-send
