#get-stuff-container
	div(ui-view)
	#loading-get-stuff.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.loading-text Finding Stuff...
	.search-stuff-container
		i#map-toggle-switch.fa.fa-map.stuff-button.toggle-stuff(ng-click='toggleMap()')
		input#search-stuff.stuff-input(type='search' placeholder='Search by name or category' ng-model="searchStuff")
	#get-stuff-back-button-container.hidden.animate-250
		i.get-stuff-back-button.fa.fa-arrow-left.hidden.animate-250(ng-click="setGetStuff()")
		#get-stuff-item-title.hidden.animate-250
	ion-content#masonry-container.animate-250.hide-masonry-container
		//- if ionic
		//- 	ion-refresher(pulling-text="Pull to refresh..." on-refresh="refresh()")
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems | filter:searchStuff:strict" repeat-done="initMasonry()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div {{ list.title }}
						.stuff-item-category-distance-owner(style="float: left") {{ list.category }}
						.stuff-item-category-distance-owner(style="float: right;") 5 mi.
	#filter-pane.animate-250
		form
			ul.filter
				li Choose a Category
					select(ng-model="searchStuff")
						option Arts & Crafts
						option Books, Games, Media
						option Building & Garden Materials
						option Clothes & Accessories
						option Electronics
						option Furniture & Household
						option General
						option Kids & Babies
						option Recreation
				//- li Attended/Unattended
				//- 	select(ng-model="searchStuff")
				//- 		option Attended
				//- 		option Unattended
				//- 		option All
				//- li Distance from Me
				//- 	select(ng-model="searchStuff")
				//- 		option 1 miles
				//- 		option 2 miles
				//- 		option 3 miles
				//- 		option 4 miles
				//- 		option 5 miles
				//- 		option 6 miles
				//- 		option 7 miles
				//- 		option 8 miles
				//- 		option 9 miles
				//- 		option 10 miles
				//- 		option 11 miles
				//- 		option 12 miles
				//- 		option 13 miles
				//- 		option 14 miles
				//- 		option 15 miles
				//- 		option 16 miles
				//- 		option 17 miles
				//- 		option 18 miles
				//- 		option 19 miles
				//- 		option 20 miles
				button(type='submit', ng-click="initMasonry()") Filter
				
