div settings
div {{ userData.uname }}
div {{ userData.fname }}
div {{ userData.lname }}
div {{ userData.phone }}
div {{ userData.email }}
div {{ userData.googleConnected }}
div {{ userData.facebookConnected }}
