div.settings 
	h1 Settings
	form.settings-form(name='{{formName}}', data-ng-submit='save({userData: users})')
		ul(data-ng-cloak)
			li
				label(for='uname') Username: 
				input(type='text', data-ng-model='userData.uname', placeholder='{{ userData.uname }}')
			li
				label(for='fname') First Name: 
				input(type='text', data-ng-model='userData.fname', placeholder='{{ userData.fname }}')
			li
				label(for='lname') Last Name: 
				input(type='text', data-ng-model='userData.lname', placeholder='{{ userData.lname }}')
			li
				label(for='phone_number') Phone: 
				input(type='text', data-ng-model='userData.phone', placeholder='{{ userData.phone }}')
			li
				label(for='email') Email: 
				input(type='text', data-ng-model='userData.email', placeholder='{{ userData.email }}')
			li
				label(for='address') Address: 
				input(type='text', data-ng-model='userData.address', placeholder='{{ userData.address }}')
			li
				label(for='city') City: 
				input(type='text', data-ng-model='userData.city', placeholder='{{ userData.city }}')
			li
				label(for='state') State: 
				input(type='text', data-ng-model='userData.state', placeholder='{{ userData.state }}')
			li
				label(for='zipcode') Zipcode: 
				input(type='text', data-ng-model='userData.zipcode', placeholder='{{ userData.zipcode }}')
			li
				label(for='country') Country: 
				input(type='text', data-ng-model='userData.country', placeholder='{{ userData.country }}')
	button(type='submit' data-ng-click='userData.editing = true') Submit
