#get-stuff-container
	div(ui-view)
	#loading-get-stuff.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.loading-text Finding Stuff...
	.search-stuff-container
		i.fa.fa-map.stuff-button.toggle-stuff(ng-click='toggleMap()')
		input#searchStuff.stuff-input(type='search' placeholder="Search..." ng-model="searchStuff")
		i#filter-button.stuff-button.fa.fa-filter(tabindex="0" ng-click='toggleFilterPane()')
	#masonry-container.animate-250.hide-masonry-container
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems" repeat-done="initMasonry()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="http://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div {{ list.title }}
	#filter-pane.animate-250
		
