#map-view-container
	#map-view.map-view-open
	#test
	img#center-marker.animate-250(src="/img/test-pin1.png")
#tab-container
	ul.stuff-tabs
		li.logo-tab
			a(ng-click)
		li.get-stuff-tab
			a(ui-sref="stuff.get") Get Stuff
		li.give-stuff-tab
			a(ng-click="toGiveStuff()") Give Stuff
		li.my-stuff-tab
			a(ui-sref="stuff.my") My Stuff
	#tab-content.animate-500(ui-view)
