#get-stuff-container
	div(ui-view)
	#loading-get-stuff.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.loading-text Finding Stuff...
	.settings-header
		h1 Filter & Settings
	.search-stuff-container
		i#map-toggle-switch.fa.fa-map.stuff-button.toggle-stuff(ng-click="toggleMap()")
		input#search-stuff.stuff-input(type='search' placeholder='Search' ng-init="showDistance()" ng-model="searchStuff" multiple="multiple")
		i.fa.fa-search(ng-click="filterSearch()")
	#get-stuff-back-button-container.hidden.animate-250
		i.get-stuff-back-button.fa.fa-arrow-left.hidden.animate-250(ng-click="setGetStuff()")
		#get-stuff-item-title.hidden.animate-250
	ion-content#masonry-container.animate-250.hide-masonry-container
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems | filter:searchStuff:strict" repeat-done="initMasonry()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div {{ list.title }}
	#filter-pane.animate-250 
		#filter-head
			p Filters
		#distance-from-me
			p Distance from me
				span
					label#rangeText
			input#rangeInput.distance-slider(type="range", name="rangeInput", step="1", value="1", min="1", max="20")
			
		#newlisting
			p New listing
			input#newlisting-show(type="checkbox", name="newlisting-show", value="newlisting-show")
			label.fa.fa-check(for="newlisting-show") only show new listings
			
		#item-status
			p Item status
			label.fa.fa-check(for="item-status-unattended") unattended
			input#item-status-unattended(type="checkbox", name="item-status-unattended", value="item-status-unattended")
			label.fa.fa-check(for="item-status-contact") contact for pickup
			input#item-status-contact(type="checkbox", name="item-status-contact", value="item-status-contact")
		#categories
			p Categories
			form 
				.select-deselect
					label.fa.fa-check(for="selectall") select all
					input#select-all(type="checkbox", name="select-all", value="select-all")
					label.fa.fa-times(for="deselect-all") deselect all
					input#deselect-all(type="checkbox", name="deselect-all", value="deselect-all")
				.filter
					label.fa.fa-check(for="arts-crafts") arts & crafts
					input#arts-crafts(type="checkbox", name="arts-crafts", value="arts-crafts")
					label.fa.fa-check(for="books-games-media") books, games, media
					input#books-games-media(type="checkbox", name="books-games-media", value="books-games-media")
					label.fa.fa-check(for="building") building & garden materials
					input#building(type="checkbox", name="building", value="building")
					label.fa.fa-check(for="clothes") clothes & accessories
					input#clothes(type="checkbox", name="clothes", value="clothes")
					label.fa.fa-check(for="electronics") electronics
					input#electronics(type="checkbox", name="electronics", value="electronics")
					label.fa.fa-check(for="furniture") furniture & household
					input#furniture(type="checkbox", name="furniture", value="furniture")
					label.fa.fa-check(for="general") general
					input#general(type="checkbox", name="general", value="general")
					label.fa.fa-check(for="kids-babies") kids & babies
					input#kids-babies(type="checkbox", name="kids-babies", value="kids-babies")
					label.fa.fa-check(for="recreation") recreation
					input#recreation(type="checkbox", name="recreation", value="recreation")
				
