#give-stuff-container
	ul.give-stuff-steps
		li#give-step1.give-steps.animate-250.active
			#give-image-verify-container.animate-250
				#give-image-verify.animate-250
					i.fa.fa-times-circle.give-reject1(ng-click="rejectPhoto()")
					i.fa.fa-check-circle.give-accept1(ng-click="acceptPhoto()")
			.give-image-container
				.give-image-bg
					.give-image-bg-top-left.give-image-bg-corner
					.give-image-bg-top-right.give-image-bg-corner
					.give-image-bg-bottom-left.give-image-bg-corner
					.give-image-bg-bottom-right.give-image-bg-corner
					.give-image-bg-content
						.give-image-take-a-pic Take a Picture!
						i.give-image-icon-1.fa.fa-camera
						.give-image-choose-option Choose one of the options below
						i.give-image-icon-2.fa.fa-arrow-down
			.give-image-options
				button#give-camera-button.give-image-capture.give-image-buttons(ng-click="getCamera()")
					i.fa.fa-camera
				button#give-photo-button.give-image-select-container.give-image-buttons(ng-click="getPhoto()")
					i.fa.fa-photo
				input#give-image-select.give-image-select(type="file" name="imageFiles")
		li#give-step2.give-steps.animate-250
			#give-location-text1.give-location-text move the map around
			i.fa.fa-location-arrow.give-location-icon
			#give-location-text2.give-location-text to set the pick up location
			button#give-location-next-step(ng-click="setMarker()") Next Step
		li#give-step3.give-steps.animate-250
			#give-item-uploading-screen-container.animate-250
				#give-item-uploading-screen
					.loader.give-loader
					.give-loader-text uploading stuff...
			#give-image-detail-container
				#give-static-map1-container
					img#give-static-map1
				#give-image-details
			input#give-description-title(type="text" placeholder="Title" ng-model="giveItem.title")
			h3.give-category-header Category
			#give-cateogry-selector-container
				select#give-cateogry-selector.give-category-selector(ng-model="giveItem.category")
					option General
					option Baby things
					option Furniture
			.give-checkbox-container
				input#give-checkbox.give-checkbox(type="checkbox" ng-model="giveItem.outside")
				label(for="give-checkbox")
					span This is outside -- do not contact for pickup
				i.fa.fa-question.give-checkbox-question
				//i.fa.fa-circle-question-o
			textarea#give-description(name="Description" ng-model="giveItem.description" rows="8" cols="40" placeholder="Description")
			button#give-description-submit(ng-click="uploadItem()") Submit 
		li#give-step4.give-steps.animate-250
			#give-finished-map-container
				img#give-finished-map
			#give-finished-image
			button#give-finished-edit-button(ng-click="editPost()") edit
			#give-finished-title {{ giveItem.title }}
			#give-finished-description {{ giveItem.description }}
			#give-finished-footer
				#give-finished-category {{ giveItem.category }}
				#give-finished-radius {{ giveItem.outside }}
	ul#give-stuff-tabs
		li#give-step1-tab.give-steps-tab.active(ng-click="setGiveStep(1)") step1
		li#give-step2-tab.give-steps-tab(ng-click="setGiveStep(2)") step2
		li#give-step3-tab.give-steps-tab(ng-click="setGiveStep(3)") step3
		li#give-step4-tab.give-steps-tab(ng-click="setGiveStep(4)") step4
	
