.info-windows(id="info-window-{{id}}")
	.info-window-header
		span.info-window-image(style="background-image: url({{image}});")
		span.info-window-header-text
			.info-window-header-title {{title}}
			.info-window-header-description {{description}}
		.info-window-dibs-button Dibs!
	.info-window-text
		.info-window-title {{title}}
		.info-window-description {{description}}
	.info-window-footer
		span.info-window-category {{category}}
		span.info-window-attended {{attended}}
