#masonry-container
	ul.masonry-grid
		li.masonry-grid-item(ng-repeat="list in listItems" repeat-done="initMasonry()")
			.list-item-img-container
				img(src="{{ list.img }}")
				.item-info
					div {{ list.title }}
			a(ui-sref="stuff.get.item({id:list.id})") {{ item.title }}
