div.settings
	.settings-header
		h1 Your profile &amp; settings
		img(src="img/circle.png")

	form.settings-form(data-ng-submit='save({users: users})')
		ul.settings-profile
		label.edit-profile Edit Profile
			input(type='checkbox', ng-model='checked')
		ul(data-ng-cloak, ng-show='checked')
			p Display Name
			li
				input(type='text', data-ng-model='users.uname', placeholder='{{ users.uname }}')
			p First Name
			li 
				input(type='text', data-ng-model='users.fname', placeholder='{{ users.fname }}')
			p Last Name
			li 
				input(type='text', data-ng-model='users.lname', placeholder='{{ users.lname }}')
			p Phone
			li
				input(type='tel', data-ng-model='users.phone_number', placeholder='{{ users.phone_number }}')
			p Email
			li 
				input(type='email', data-ng-model='users.email', placeholder='{{ users.email }}')
			p Address
			li 
				input(type='text', data-ng-model='users.address', placeholder='{{ users.address }}')
			p City
			li 
				input(type='text', data-ng-model='users.city', placeholder='{{ users.city }}')
			p State
			li
				input(type='text', data-ng-model='users.state', placeholder='{{ users.state }}')
			p Zipcode
			li
				input(type='text', data-ng-model='users.zip_code', placeholder='{{ users.zip_code }}')
			p Country
			li
				input(type='text', data-ng-model='users.country', placeholder='{{ users.country }}')
			button(type='submit', data-ng-click='update(users)') Submit
			li
				p Log in &amp; share with connections
		ul.connections 
			li Connections
			li
				a.settings-sign-in-up-input.social-button.google-plus-sign-in(href="//localhost:3000/api/v1/account/login/google" target="_self")
					span.social-sign-in-icon.social-sign-in-icon-google
						i.fa.fa-google-plus
					span.social-sign-in-text Connect with Google
			li
				a.settings-sign-in-up-input.social-button.facebook-sign-in(href="//localhost:3000/api/v1/account/login/facebook" target="_self")
					span.social-sign-in-icon.social-sign-in-icon-facebook
						i.fa.fa-facebook
					span.social-sign-in-text Connect with Facebook
			
