#conversation-container
	#conversation-messages
	#conversation-input-container
		.conversation-input-button-container
			#conversation-auto-reply.conversation-input-button
				i.fa.fa-comment
		textarea#cnversation-input
		.conversation-input-button-container
			#conversation-send-reply.conversation-input-button
				i.fa.fa-send
