#map-view
#tab-container
	ul.stuff-tabs
		li.logo-tab
			a(ng-click)
		li.get-stuff-tab
			a(ui-sref="stuff.get") Get Stuff
		li.give-stuff-tab
			a(ng-click="toGiveStuff()") Give Stuff
		li.my-stuff-tab
			a(ui-sref="stuff.my") My Stuff
	.search-stuff-container
		input#searchStuff.stuff-input(type='search' placeholder="Search..." ng-model="searchStuff")
		i#filter-button.stuff-button.fa.fa-sliders(tabindex="0" ng-click='toggleFilterPane()')
	#tab-content(ui-view)




	
