.watchlist-container
	div(ui-view)
	section.tag-container
			ul.tag-list
				li(ng-repeat="tagname in tagnames") {{tag}}
	.tag-form
		input(type="text", placeholder="-->> Enter Tagname Here <<--")
		button(type="submit") Submit
