.watchlist-container
	div(ui-view)
	section.tag-container(data-ng-init='getAll()')
			ul.tag-list
				li(ng-repeat='item in watchlist_items') {{item.id}}
	form.tag-form(data-ng-submit='save({users: users})')
		input(type='text', ng-model='tagname', placeholder='Add to your watchlist')
		button(type='submit', value='Submit', ng-click='create()') Submit
