#map-view
#tab-container
    ul#tabs
        li#getstuff
            a(ui-sref=".get") Get Stuff
        li#givestuff
            a(ui-sref=".give") Give Stuff
        li#mystuff
            a(ui-sref=".my") My Stuff
    #tab-content(ui-view)
