.privacy-container
	//- .settings-header
	//- 	h1 PRIVACY POLICY
	.privacy-list
		p
			//- | Stuffmapper SPC.
			//- br
			//- | Privacy Policy
			//- br
			| Last Updated: August 21, 2016
			br
		p Stuffmapper SPC ("Stuffmapper") is committed to creating and maintaining a trusted community, and takes precautions to prevent unauthorized access to or misuse of data about you. Stuffmapper does not share personally identifiable user data with third parties.
		p Please read this Privacy Policy carefully before using the website (the “Site”), mobile applications (the “Apps”), and other features or services (collectively, the “Services”) offered by Stuffmapper, as they govern your use of the Services.
		p This Privacy Policy does not apply to the privacy practices of third parties whose links may appear on or through the Services. We are not responsible for the content or privacy practices of third parties or other users.
		p We recommend that you exercise caution before you voluntarily disclose personally identifiable information to other users, on publically accessible or displayable parts of the Service, or through third-party links on third-party websites or platforms.
		p If you have questions about deleting or correcting your personal data please contact our upport team at <a href="support@stuffmapper.com">support@stuffmapper.com</a>.
		h3 1. Collection and Use of Information
		ul
			li
				h3 Personal Information
				br
				| We may collect and store personally identifiable information (“personal information”), such as your email and physical address, name, telephone number and credit card information, which you provide through the Services. We do not and will not send spam, sell or rent your email address or social media login account (“Account”) information to third parties. We do not disclose, sell, share, trade or give away a user’s personal information to third parties, except as needed for completing payment and billing transactions through the Services of payment processing vendors, if applicable.
			li
				h3 Location Information
				br
				| When you first download or launch any of our Services that collect location information, you will be asked to consent to the Service’s collection of this information. If you initially consent to our collection of location information, you can subsequently stop the collection of this information at any time by changing the preferences on your device. You may also stop our collection of location information by following the standard uninstall process to remove all of our mobile applications from your device. Even if you do not provide us with consent to collect precise location information from your mobile device or platform, we may use your IP address to infer an approximation of your location when using certain features of the Services.
			li
				h3 Logging Statistics
				br
				| Like most website and app operators, our servers automatically collect certain types of non-personally-identifying, technical information, such as the browser type, language preference, referring site, and the date and time of each visitor request. Google Analytics is software that collects data about our visitors (you). It’s something like an advanced server log. We may use Google Analytics to record certain technical data, including:
				ul
					li What website you came from to get here
					li How long you stay for
					li What kind of computer you’re using
					li We use this information to better understand how our visitors use our website, and to maintain Services.
			li
				h3 IP Addresses
				br
				| Internet Protocol addresses indicate the location of a user’s computers or mobile device on a network connected to the Internet. Providing Services to you may result in the logging of IP addresses for systems administration and troubleshooting purposes. We do not log IP addresses to track your session, nor do we link IP addresses to anything personally identifiable.
			li
				h3 Cookies and Similar Technologies
				br
				| Your use of the Services may result in the assignment and storage of session cookies (or similar technology, such as iOS Keychain) to recognize your access privileges. A cookie is a text file that is placed on the hard disk of your computer or mobile device by a server. Session cookies expire when you end your session and close your browser interface. Cookies cannot be used to run programs or deliver viruses to your computer or mobile device. Cookies are uniquely assigned to you, and can only be read by a server in the domain that issued the cookie to you. We use cookies to help us identify and track visitors, their usage of and preferences on our website. Visitors who do not wish to have cookies placed on their computers or mobile devices should set their browsers to “Refuse Cookies” before using our Services, with the drawback that certain features of our Services may not function properly without the aid of cookies.
		h3 2. Protection of Certain Personally Identifying Information
		p Stuffmapper discloses potentially personally identifying and personally identifying information only to those of its employees, contractors and affiliated organizations that: (i) need to know that information in order to process it on our behalf or to provide the Services; and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country now or at a later date; by using the Services you consent to the transfer of such information to them.
		p Stuffmapper takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally identifying and personally identifying information.
		h3 3. Feedback & Support
		p If you send us a request (via a support email or one of our feedback channels), we reserve the right to publish it (stripped of all personally identifying information, of course) in order to help us clarify or respond to your request or to help us support other users (i.e. create an FAQ database).
		p We may provide technical support to service your Account with us. In order to do so, we may use certain personally identifying information, with your consent, to access your Account for the purpose of troubleshooting, running tests, and/or otherwise providing support. In providing technical support to you, we may potentially see other personally identifying information viewable on your Account pages. As with all other information, we promise to hold any information we encounter in the process of providing support to the highest possible security and protection standards.
		h3 4. Security & Data Storage
		p To prevent unauthorized access, safeguard data accuracy, and maintain the appropriate use of information, we have put in place appropriate physical, technical, and administrative procedures to protect the personal information data you submit. We make every effort to ensure the integrity and security of our network and systems. However, since the Internet is not 100% secure and as new technology evolves and emerges, we cannot guarantee that our security measures will prevent third-party interferences from illegally obtaining or tampering with your personal information.
		p We encourage you to help us by also taking precautions to protect your personal data when you use the Services. Change your Account password often, using a combination of letters, numbers, and characters, and make sure you use a secure connection.
		p Stuffmapper will retain data as long as needed for the purposes described above and/or as required by law. A user may access and update certain data about themselves by logging into their Account.
		h3 5. Privacy of Minors
		p
			| We do not promote or offer the Services for use by anyone under the age of 13 (“minors”). Stuffmapper does not knowingly solicit or collect personal information from minors, and we will not knowingly link to any third-party website or platform, or host any of your Sites that solicit or collect personal information from minors. If you believe that a minor has disclosed personal information to us or that we have linked to such a third-party or user website or platform, please contact us at
			a(href="mailto:support@stuffmapper.com") support@stuffmapper.com.
		h3 6. Business Transfers
		p If the ownership of Stuffmapper substantially changes, such that all of its assets were acquired, or merged into another entity, or in the unlikely event that Stuffmapper enters bankruptcy, you understand that any stored personally identifying, and non-personally identifying information and data will likely be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer or merging entity of Stuffmapper may continue to use your personal information as set forth in this policy.
		h3 7. Privacy Policy Changes
		p We may change or modify this Privacy Policy from time to time, in our sole discretion. We encourage you to frequently check this page for any changes to our Privacy Policy.
