doctype html
-
	var htmlClassList = [];
	if(loggedIn) htmlClassList.push('loggedIn');
	if(ionic) htmlClassList.push('ionic');
	else if(electron) htmlClassList.push('electron');
	htmlClassList = htmlClassList.join(' ');
html(lang="en" class= htmlClassList ng-app="stuffMapp")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
		meta(name="theme-color" content="#6bc43c")
		//- link(rel="icon" sizes="192x192" href="nice-highres.png")
		title Stuffmapper
		if ionic
			script.
				var deviceType = (navigator.userAgent.match(/iPad/i))  == "iPad" ? "iPad" : (navigator.userAgent.match(/iPhone/i))  == "iPhone" ? "iPhone" : (navigator.userAgent.match(/Android/i)) == "Android" ? "Android" : (navigator.userAgent.match(/BlackBerry/i)) == "BlackBerry" ? "BlackBerry" : "null";
				var d = document.documentElement;
				if(/iPad|iPhone|iPod/.test(deviceType))
					d.className += ' ios';
				else
					d.className += ' android';
				var path = window.location.pathname.split('/');
				path.pop();
				path = path.join('/') + '/';
				var section = document.querySelector('head');
				var base = document.createElement('base');
				base.href = path
				section.insertBefore(base, section.firstChild);
		else if electron
			base(href="/")
		else
			base(href="/")
		link(href="css/main.app.min.css" rel="stylesheet")
		link(href="css/font-awesome.min.css" rel="stylesheet")
		script(src="http://maps.google.com/maps/api/js")
		//- ?key=AIzaSyC9wZTqNMPxl86PtJuR4Dq3TzS_hByOs3U")
		//- script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js")
		//- link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css" rel="stylesheet")
		//- script(src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js")
		//- link(href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet")
		if ionic
			//- link(href="lib/ionic/css/ionic.css" rel="stylesheet")
			script(src="cordova.js")
			script(src="http://ducks.stuffmapper.com:3000/socket.io/socket.io.js")
			script(src="lib/ionic/js/ionic.bundle.js")
			script(src="lib/ngCordova/dist/ng-cordova.min.js")
		else
			script(src="/js/angular.js")
		script(src="https://use.typekit.net/lrm3jdv.js")
		script.
			//try{Typekit.load({ async: true });}catch(e){}
		script(src="js/all.js")
		script(id="templates/partial-home-getstuff.html" type="text/ng-template")
			include ./partials/home/partial-home-getstuff
		script(id="templates/blank.html" type="text/ng-template").
			<div style="display:none;"></div>
		script(id="templates/partial-home-my.html" type="text/ng-template")
			include ./partials/home/partial-home-my
		script(id="templates/partial-home-conversation.html" type="text/ng-template")
			include ./partials/home/partial-home-conversation
		script(id="templates/partial-home-settings.html" type="text/ng-template")
			include ./partials/home/partial-home-settings
		script(id="templates/partial-home-messages.html" type="text/ng-template")
			include ./partials/home/partial-home-messages
		script(id="templates/partial-home-watchlist.html" type="text/ng-template")
			include ./partials/home/partial-home-watchlist
		script(id="templates/partial-home-givestuff.html" type="text/ng-template")
			include ./partials/home/partial-home-givestuff
		script(id="templates/partial-home-mystuff.html" type="text/ng-template")
			include ./partials/home/partial-home-mystuff
		script(id="templates/partial-home.html" type="text/ng-template")
			include ./partials/home/partial-home
		script(id="templates/partial-about.html" type="text/ng-template")
			include ./partials/about/partial-about
	body(ng-controller="MainController")
		#modal-windows
			.modal-windows-bg.animate-250
			.modal-container.modal-container.animate-500
				.close-modal-bg(ng-click="hideModal()")
				.modal-window
					.modal-header
					.modal-close(ng-click="hideModal()")
						i.fa.fa-close
					.modal-content
						.modal-steps
							#sign-in-step.modal-step.animate-250.active
								h2.modal-title.animate-250 Sign In
								a.sign-in-up-input.social-button.google-plus-sign-in(href="//ducks.stuffmapper.com:3000/api/v1/account/login/google" target="_self")
									span.social-sign-in-icon.social-sign-in-icon-google
										i.fa.fa-google-plus
									span.social-sign-in-text Sign in with Google
								a.sign-in-up-input.social-button.facebook-sign-in(href="//ducks.stuffmapper.com:3000/api/v1/account/login/facebook" target="_self")
									span.social-sign-in-icon.social-sign-in-icon-facebook
										i.fa.fa-facebook
									span.social-sign-in-text Sign in with Facebook
								hr
								span.sign-in-local-text or sign in with your email address 
								input#sign-in-email.sign-in-up-input.local-sign-in-up(type="text" placeholder="email address" value="ryan.the.farmer@gmail.com")
								input#sign-in-password.sign-in-up-input.local-sign-in-up(type="password" placeholder="password" value="Password1!")
								hr
								input#sign-in-sign-in-button.sign-in-up-input(type="button" value="Sign In" ng-click="login()")
								input#sign-in-sign-up-button.sign-in-up-input(type="button" value="Sign Up" ng-click="signUpStep()")
							#sign-up-step.modal-step.animate-250.hidden-modal
								h2.modal-title Sign Up
								.modal-back-button(ng-click="signUpBack()")
								input#sign-up-uname.sign-in-up-input.local-sign-in-up(type="text" placeholder="username")
								input#sign-up-email.sign-in-up-input.local-sign-in-up(type="text" placeholder="email address")
								input#sign-up-password1.sign-in-up-input.local-sign-in-up(type="password" placeholder="password")
								input#sign-up-password2.sign-in-up-input.local-sign-in-up(type="password" placeholder="confirm password")
								input#sign-up-fname.sign-in-up-input.local-sign-in-up(type="text" placeholder="first name")
								input#sign-up-lname.sign-in-up-input.local-sign-in-up(type="text" placeholder="last name")
								hr
								input#-sign-up-button.sign-in-up-input(type="button" value="Sign Up" ng-click="signUp()")
							#authorizing-step.modal-step.animate-250.hidden-modal
								h2.modal-title Authorizing...
								div loading...
		#popups
			#profile-popup.popups.popups-top-right.animate-250.hidden-popup
				li
					i.fa.fa-archive
					span(ui-sref="stuff.my.items") My Stuff
				li
					i.fa.fa-envelope
					span(ui-sref="stuff.my.messages") Messages
				li
					i.fa.fa-clock-o
					span(ui-sref="stuff.my.watchlist") Watchlist
				li
					i.fa.fa-cog
					span(ui-sref="stuff.my.settings") Settings
				li
					i.fa.fa-sign-out
					span(ng-click="logout()") Sign Out
		ul.side-menu.animate-250
			li.side-menu-header
				.profile
			li.side-menu-item
			li.side-menu-item
		#container
			#header
				img#logo(src="img/logo-txt-only-bold.png" ng-click="aboutUs()")
				#landfill-tracker
				#user-portal
					a#sign-in-button(ng-click="userButton()")
						i.fa.fa-user
			#content(ui-view)
