.faq-container
	.settings-header
		h1 FAQ
	ul.faq-nav#back-to-top
		li
			a(href='#whatis') What is Stuffmapper?
		li 
			a(href='#how-does') How does Landfill Tracker work?
		li 
			a(href='#about-services') About our services
		li
			a(href='#more-dibs') More on Dibs
		li 
			a(href='#refund') Refund policy
		
	.answer-container
		h2#whatis What is Stuffmapper?
		p Our goal is to save millions of items from landfills and to support and grow the free reusable stuff movement by connecting people who want to give and get free reusable items.
		a(href='#back-to-top') Top
		h2#how-does How does the Landfill Tracker work?
		p Stuffmapper, SPC is a Social Purpose Corporation and our social purpose is to save items from landfills. Our Landfill Tracker is one way in which our impact is measured. It upticks when an item listed as “attended” is marked as picked up by the Dibber or the Lister.
		a(href='#back-to-top') Top
		h2#about-services About our services
		P Stuffmapper’s app and website connects people who want to give and get reusable items. One of the ways the company makes money is by “Dibs” and “earlyDibs.” Dibs is computer application software to further our socially and environmentally conscious initiative to spare physical items from landfills, for mobile phones, tablets and computers, namely, software for reserving communal, personal and professional items up for exchange or giveaway by users of the software. Dibs enables users to make reservations on, and have priority access to, reserved communal, personal and professional items up for exchange or giveaway by other users.
		a(href='#back-to-top') Top
		h2#more-dibs More on Dibs
		p Use the Dibs button when you see something you want on Stuffmapper! You’ll receive priority access to that item’s location by hiding the item on the map from everyone else and you’ll be awarded exclusive communication with the item’s lister. Be sure to initiate messaging with the lister within 15 minutes after Dibsing the item; otherwise, you’ll lose your Dibs and it goes live to everyone. Dibs is currently priced at one dollar and the Dibber pays at the time of Dibsing the item. There is also earlyDibs, which provides people who previously added items to their watchlist to be notified 15 minutes before everyone else who didn’t have those items on their watchlist when a specific item enters into the supply. They get 15 minutes to earlyDibs the related item they had on their watchlist. earlyDibs is currently priced at five dollars. Read on for specific examples of Dibs and earlyDibs!
		h3 Example 1: Dibs
		p At 3pm Jake lists a couch on Stuffmapper that he wants to give away. Sarah wants to furnish her new apartment and at 3:10pm she checks Stuffmapper for any nearby quality couches. Sarah spots a couch (that Jake listed) and she activates the “Dibs button” to reserve priority access to the couch (hides item on the map from everyone else) and she gets exclusive in-app communication with the lister, Jake. Immediately after activating the Dibs button, Sarah pays one dollar to Dibs the couch and within 15 minutes after Dibsing the couch she must proactively initiate messaging (to prove she is not a flake) with the lister in order to preserve her Dibs, or else the item again goes live to everyone. Dibs is monetized for the first hour, so if nobody Dibs’d the couch within the first 60 minutes after Jake listed the couch the Dibs functionality becomes free to everyone.
		h3 Example 2: earlyDibs
		p Yesterday Emily checked Stuffmapper to see if there was a good couch available but didn’t see anything so she added “couch” to her watchlist. Today at 3pm Jake lists a couch on Stuffmapper that he wants to give away. At 3:01pm Emily receives a notification from Stuffmapper that a recent keyword on her watchlist was triggered when Jake listed his couch. Because Emily had the term “couch” in her watchlist she now gets 15 minutes to earlyDibs the couch before it goes live to everyone. Emily activates the earlyDibs button on the couch.
		a(href='#back-to-top') Top
		h2#refund Refund policy
		p We want to make sure you are 100% happy each time you purchase our service. Within 24 hours after Dibbing an item you will be automatically refunded in the following scenarios:
		ul
			li if you Dibs an item and fail to initiate messaging within 15 minutes
			li if you unDibs an item
			li if your Dibs is rejected by the lister
			li if the exchange doesn’t occur (for example, you go to pick-up the item and realize it’s not what you wanted)
		p Refunds will not be given in the following scenarios:
		ul
			li if, after the exchange occurs, you realize you don’t want the item
		div Please contact us at <a target="_top" href="mailto:support@stuffmapper.com">support@stuffmapper.com</a> if you have any questions or concerns about refunds.
		h2(style="margin-bottom: 0px;") Other Questions
		div(style="margin-bottom: 20px;") Please contact us at <a target="_top" href="mailto:support@stuffmapper.com">support@stuffmapper.com</a> with other inquiries.
		a(href='#back-to-top') Top
		h2(style="margin-bottom: 0px;") Privacy Policy
		a(href="https://#{config.subdomain}.stuffmapper.com/privacy") https://#{config.subdomain}.stuffmapper.com/privacy
		h2(style="margin-bottom: 0px;") User Agreement
		a(href="https://#{config.subdomain}.stuffmapper.com/useragreement") https://#{config.subdomain}.stuffmapper.com/useragreement
		h2.contact-us(style="margin-bottom: 0px;") Contact us!
		a(target="_top" href="mailto:support@stuffmapper.com") support@stuffmapper.com
		.contact-address
			div Stuffmapper, SPC
			div P.O. Box 95612
			div Seattle, WA 98145-2612
