.faq-container
	.settings-header
		h1 FAQ
	ul.faq-nav#back-to-top
		li
			a(href='#whatis') What is Stuffmapper?
		li 
			a(href='#how-does') How does Landfill Tracker work?
		li 
			a(href='#about-services') About our services
		li 
			a(href='#more-dibs') More on Dibs
		li 
			a(href='#refund') Refund policy
		li 
			a(href='#privacy-policy') Privacy policy
		li 
			a(href='#user-agreement') User agreement
		
	.answer-container
		h2#whatis What is Stuffmapper?
		p Our goal is to save millions of items from landfills and to support and grow the free reusable stuff 
			| movement by connecting people who want to give and get free reusable items.
		a(href='#back-to-top') Top
		h2#how-does How does the Landfill Tracker work?
		p Stuffmapper, SPC is a Social Purpose Corporation and our social purpose is to save items from landfills. 
			| Our Landfill Tracker is one way in which our impact is measured. It upticks when an item listed as 
			| “attended” is marked as picked up by the Dibber or the Lister.
		a(href='#back-to-top') Top
		h2#about-services About our services
		P Stuffmapper’s app and website connects people who want to give and get reusable items. One of the ways 
			| the company makes money is by “Dibs” and “Pre-Dibs.” Dibs is computer application software to further 
			| our socially and environmentally conscious initiative to spare physical items from landfills, for mobile 
			| phones, tablets and computers, namely, software for reserving communal, personal and professional items 
			| up for exchange or giveaway by users of the software. Dibs enables users to make reservations on, and 
			| have priority access to, reserved communal, personal and professional items up for exchange or giveaway 
			| by other users.
		a(href='#back-to-top') Top
		h2#more-dibs More on Dibs
		p Use the Dibs button when you see something you want on Stuffmapper! You’ll receive priority access to that 
			| item’s location by hiding the item on the map from everyone else and you’ll be awarded exclusive 
			| communication with the item’s lister. Be sure to initiate messaging with the lister within 15 minutes after 
			| Dibbing the item; otherwise, you’ll lose your Dibs and it goes live to everyone. Dibs is currently priced at 
			| one dollar and the Dibber pays at the time of Dibbing the item. There is also Pre-Dibs, which provides people 
			| who previously added items to their watchlist to be notified 15 minutes before everyone else who didn’t have 
			| those items on their watchlist when a specific item enters into the supply. They get 15 minutes to Pre-Dibs 
			| the related item they had on their watchlist. Pre-Dibs is currently priced at one dollar. Read on for specific 
			| examples of Dibs and Pre-Dibs!
			h3 Example 1: Dibs
				p At 3pm Jake lists a couch on Stuffmapper that he wants to give away. Sarah wants to furnish her new apartment and 
					| at 3:10pm she checks Stuffmapper for any nearby quality couches. Sarah spots a couch (that Jake listed) and she 
					| clicks the “Dibs button” to reserve priority access to the couch (hides item on the map from everyone else) and 
					| she gets exclusive in-app communication with the lister, Jake. Immediately after clicking the Dibs button, Sarah 
					| pays one dollar to Dibs the couch and within 15 minutes after Dibbing the couch she must proactively initiate 
					| messaging (to prove she is not a flake) with the lister in order to preserve her Dibs, or else the item again 
					| goes live to everyone. Dibs is monetized for the first 15 minutes, so if nobody Dibbed the couch within the 
					| first 15 minutes after Jake listed the couch the Dibs functionality becomes free to everyone.
			h3 Example 2: Pre-Dibs
				p Yesterday Emily checked Stuffmapper to see if there was a good couch available but didn’t see anything so she added 
					| “couch” to her watchlist. Today at 3pm Jake lists a couch on Stuffmapper that he wants to give away. At 
					| 3:01pm Emily receives a notification from Stuffmapper that a recent keyword on her watchlist was triggered 
					| when Jake listed his couch. Because Emily had the term “couch” in her watchlist she now gets 15 minutes to 
					| Pre-Dibs the couch before it goes live to everyone. Emily clicks the Dibs button on the couch.
		a(href='#back-to-top') Top
		h2#refund Refund policy
			p We want to make sure you are 100% happy each time you purchase our service. You will be automatically refunded 
				| in the following scenarios:
			ul
				li Dibs an item and fail to initiate messaging within 15 minutes
				li unDibs an item
				li the exchange doesn’t occur. For example you go to pick up the item and realize it’s not what you wanted
				li if your Dibs is rejected by the lister

			p Please contact us at support@stuffmapper.com with other inquiries.
		a(href='#back-to-top') Top
		h2#privacy-policy Privacy Policy
			p
				a https://www.stuffmapper.com/privacy
		a(href='#back-to-top') Top
		h2#user-agreement User Agreement
			p
				a https://www.stuffmapper.com/useragreement
		a(href='#back-to-top') Top
		h2.contact-us Contact us!
			p
				a support@stuffmapper.com
		.contact-address
			p Stuffmapper, SPC
			p P.O. Box 95612
			p Seattle, WA 98145-2612
