#my-stuff-container
	div.animate-500(ui-view)
	#loading-get-stuff.noselect.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.noselect.loading-text Finding Stuff...
	#my-stuff-empty-list.empty-results.sm-hidden(style="background-image:url('img/empty-my.png');")
		.empty-results-bottom.sm-full-width You haven't given or Dibs'd any stuff!  Get started by <a ui-sref="stuff.give">giving</a> or <a ui-sref="stuff.get">getting stuff</a>!
	ion-content#masonry-container.animate-250(style="height: 100%;")
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems" repeat-done="initMasonry(); getDistance()")
				a(ui-sref="stuff.my.items.item({ id:{{ list.id }} })")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div.noselect {{ list.title }}
						.stuff-item-category-distance-owner(style="float: left;left: 7px;max-width:calc(100% - 84px);text-align: center;") {{ list.category }}
						//- .stuff-item-category-distance-owner.number(style="float: right;text-align: center;") {{ list.milesAway }} mi.
						//- order by most recently active
