div.settings
	.success All changes have been saved!
	.settings-header
		h1 Your profile &amp; settings
		//- p Profile
	//- 	img(src="http://3.bp.blogspot.com/_LQxMQhdo6MQ/SdokfXbd7VI/AAAAAAAAAE8/GOndOJ7Z1A0/s320/twitChair3a.jpg")
	//- 	button.settings-header-button(ng-click='showEdit=true') Edit Profile
	//- .user-info
	//- 	label Display name
	//- 		input(type='text', placeholder='{{users.uname}}')
	//- 	label Email
	//- 		input(type='text', placeholder='{{users.email}}')
	form.settings-form(data-ng-submit='save({users: users})')
		ul.edit-profile(data-ng-cloak)
			p.sm-text-input-full-width Display Name
			li
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.uname', placeholder='{{ users.uname }}')
			p.sm-text-input-full-width First Name
			li 
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.fname', placeholder='{{ users.fname }}')
			p.sm-text-input-full-width Last Name
			li 
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.lname', placeholder='{{ users.lname }}')
			p.sm-text-input-full-width Phone
			li
				input.sm-text-input.sm-text-input-full-width(type='tel', data-ng-model='users.phone_number', placeholder='{{ users.phone_number }}')
			p.sm-text-input-full-width Email
			li 
				input.sm-text-input.sm-text-input-full-width(type='email', data-ng-model='users.email', placeholder='{{ users.email }}')
			p.sm-text-input-full-width Address
			li 
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.address', placeholder='{{ users.address }}')
			p.sm-text-input-full-width City
			li 
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.city', placeholder='{{ users.city }}')
			p.sm-text-input-full-width State
			li
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.state', placeholder='{{ users.state }}')
			p.sm-text-input-full-width Zipcode
			li
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.zip_code', placeholder='{{ users.zip_code }}')
			p.sm-text-input-full-width Country
			li
				input.sm-text-input.sm-text-input-full-width(type='text', data-ng-model='users.country', placeholder='{{ users.country }}')
			input.sm-button.sm-button-default.sm-button-full-width.sm-text-m(type='submit' value="Update Profile" data-ng-click='update(users); showSuccess()')
		//- ul.connections 
		//- 	li 
		//- 		strong Connections 
		//- 		| &ensp;&ensp;&nbsp;&nbsp; log in &amp; share with connections
		//- 	li
		//- 		a.settings-sign-in-up-input.social-button.google-plus-sign-in(href="http://localhost:3000/api/v1/account/login/google" target="_self")
		//- 			span.social-sign-in-icon.social-sign-in-icon-google
		//- 				i.fa.fa-google-plus
		//- 			span.social-sign-in-text Connect to Google
		//- 	li
		//- 		a.settings-sign-in-up-input.social-button.facebook-sign-in(href="http://localhost:3000/api/v1/account/login/facebook" target="_self")
		//- 			span.social-sign-in-icon.social-sign-in-icon-facebook
		//- 				i.fa.fa-facebook
		//- 			span.social-sign-in-text Connect to Facebook
		//- 	
