#give-stuff-container
	ul.give-stuff-steps
		li#give-step1.give-steps.animate-250.active
			#give-image-verify-container.animate-250
				#give-image-verify.animate-250
					canvas#give-image-canvas-uploader(style="opacity:0.0001;pointer-events:none;position:absolute;z-index:2;width:100%;height:100%;")
					canvas#give-image-canvas(style="position:absolute;z-index:2;width:100%;height:100%;")
					.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
						.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
							button#sign-in-sign-in-button.give-reject-parent.sm-button.sm-text-m.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.fa.fa-times-circle.give-reject1.animate-250(ng-click="rejectPhoto()" style="margin:20px 10px;width:calc(100% - 10px);font-size:32px;line-height:25px;")
						.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
							button#sign-in-sign-up-button.fa.fa-check-circle.sm-button.sm-button-positive.sm-text-m.give-accept1.animate-250(ng-click="acceptPhoto()" style="margin:20px 10px;width:calc(100% - 10px);float: left;font-size:32px;line-height:25px;")
			.give-image-container
				.give-image-bg
					.give-image-bg-content
						.give-image-take-a-pic(style="z-index:999;") Get ready to give stuff!
						//- img.give-image-icon-1(src="/img/give-pic-empty-01.png")
						#give-stuff-empty-list.empty-results(style="background-image:url('/img/give-pic-empty-01.png');")
							//- .empty-results-bottom.sm-full-width Show us what you've got!
			button#give-photo-button.animate-250.give-image-select-container.give-image-buttons.sm-button.sm-button-default.sm-button-full-width.sm-text-l(ng-click="getPhoto()") Choose a photo!
			input#give-image-select.give-image-select(type="file" accept=".jpg,.jpeg,.png" name="file")
		li#give-step2.give-steps.animate-250
			#give-location-text3(style="top: 0px;position: fixed;background-color: rgba(0,0,0,0.3);padding: 10px;color: white;height: 80px;") Move the map around to set the pick-up location. For privacy, only the approximate location will be displayed to public.
			#give-location-container
				i.fa.fa-map-marker.give-location-icon(style="font-size: 160px;")
				#give-location-text2.empty-results-bottom(style="bottom: 90px;top: initial;") Move the map around to set the pick-up location. For privacy, only the approximate location will be displayed to public.
			.sm-button-group(style="width: 100%;display:block;position:absolute;bottom:0px;")
				.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
					input#give-location-prev-step.sm-button-ghost.sm-button-ghost-solid.animate-250.sm-button.sm-button-default.sm-text-m(type="button" value="Back" ng-click="prevStep()" style="margin:20px 10px;width:calc(100% - 10px);")
				.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
					input#give-location-next-step.sm-button.sm-button-default.sm-text-m.animate-250(type="button" value="Next" ng-click="setMarker()" style="margin:20px 10px;width:calc(100% - 10px);float: left;")
		li#give-step3.give-steps.animate-250
			#give-step3-container.container-fluid
				#give-image-detail-container.form-group
					img#give-image-details
				.form-group
					input#give-description-title.form-control.sm-text-input.sm-text-m(ng-model="giveItem.title",placeholder="Title", type='text', maxlength="31")
					span#setting-email-verifiied(class="help-block pull-right") <span>{{31 - giveItem.title.length}} left</span>
				.form-group
					select#give-category-selector.select.form-control(ng-model="category",ng-options="v.value as v.name for v in categories track by v.value", style="width:100%;height: 38px; font-size: 16px;")
						option(value='') Choose a category...
				.checkbox
					input#giveItem-outside.styled(type='checkbox', checked='',ng-model="giveItem.outside")
					label(for="giveItem-outside")
						| This item is outside <span class="sm-text-s">(do not contact me about this item)</span>
				.form-group
					textarea#give-description.form-control(name="Description", ng-model="giveItem.description", placeholder='Description (i.e. size, dimensions, condition, etc.)', rows='3')
			.sm-button-group(style="width: 100%;display:block;position:absolute;bottom:0px;")
				.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
					input#give-description-submit-prev-step.sm-button.sm-button-ghost.sm-button-default.sm-text-m(type="button" value="Back" ng-click="prevStep()" style="margin:20px 10px;width:calc(100% - 10px);")
				.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
					input#give-description-submit.sm-button.sm-button-default.sm-text-m(type="button" value="Submit" ng-click="uploadItem()" style="margin:20px 10px;width:calc(100% - 10px);float: left;")
		li#give-step4.give-steps.animate-250
			.sm-text-m.sm-full-width.dibs-attended-message You will be notified when someone Dibs your stuff!
			.sm-button-group(style="width: 100%;display:block;height: 94px;")
				.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
					input#sign-in-sign-in-button.sm-button.sm-button-ghost.sm-button-default.sm-text-l(type="button" value="View item" ng-click="goToMyStuffItem()" style="margin:20px 10px;width:calc(100% - 10px);")
				.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
					input#sign-in-sign-up-button.sm-button.sm-button-default.sm-text-l(type="button" value="Give more!" ng-click="resetGiveStuff()" style="margin:20px 10px;width:calc(100% - 10px);float: left;")
			#give-finished-title.sm-text-m.sm-full-width {{ giveItem.title }}
			img#give-finished-image
			#give-finished-category.stuff-item-category-distance-owner(style="left:10px;top:47%;") {{ categories[category-1].name }}
			//- button#give-finished-edit-button.sm-button.sm-button-default.sm-button-full-width.sm-text-l(ng-click="editPost()") edit
			#give-finished-description.sm-text-m.sm-full-width {{ giveItem.description }}
			#give-finished-footer
				#give-finished-radius {{ giveItem.outside?'This item is outside':'' }}
			#give-finished-map-container
				img#give-finished-map
