#tab-container(style="pointer-events:all;")
	ul.stuff-tabs
		li.logo-tab
			a(ng-click)
		li.get-stuff-tab
			a.tk-proxima-nova.sm-text-m(ui-sref="stuff.get") Get Stuff
		li.give-stuff-tab
			a.tk-proxima-nova.sm-text-m(ng-click="secureState('stuff.give')") Give Stuff
		li.my-stuff-tab
			a.tk-proxima-nova.sm-text-m(ng-click="secureState('stuff.my.items')")
				| My Stuff
				#tab-message-badge.tab-message-badge 0
#tab-content-container(style="pointer-events:all;")
	#smalert-container.animate-250.sm-hidden
	#tab-content.animate-500(ui-view)
