.watchlist-container
	section.tag-container
		.settings-header
			h1 Watchlist
		ul.tag-list
			li(ng-repeat='items in watchlist')
				span(ng-repeat='item in items') {{ item.tag_name || item.category }}
	form.tag-form(name='watchlistForm', data-ng-submit='save({users: users})')
		select#watchlist-select(multiple ='multiple')
		button(type='submit', value='Submit', ng-click='create(); clearField()') Submit
