section.item-detail
	div
		img
	div
		button(type="submit", value="Dibs!")
		p.title Title
		p#description This is my
		| awesome thing. Come get
		| it. It's awesome.
		p#category Category
	span
		img