doctype html
html(lang="en")
	head
		title="Stuffmapper"
		body
			header.nav
				ul
					li#logo
						li#getstuff
							li#givestuff
								li#mystuff
			section
				div.toggle-button
					button
				input.search(type="submit", placeholder="search")
			main
				img.map
