ion-content#login-page-container(style="background-color: #8BC34A;pointer-events:all;" scroll='false')
	form
		.input-label email address
		.input-container
			input#login-page-login-uname(type="email" placeholder="email address")
		.input-label password
		.input-container
			input#login-page-login-password(type="password" placeholder="password")
	.login-setup-two-button-container
		#login-page-login-button.login-page-button.login-setup-two-button(ng-click="loginPagelogin()") Login
		#login-page-cancel-button.login-page-button.login-setup-two-button(ng-click="loginPageCancel()") Cancel
