#login-container
	#login-content.animate-500(ui-view)
#login-footer
	#login-skip-button skip
	#login-pagination
		#page1.login-pagination
		#page2.login-pagination
		#page3.login-pagination
	#login-next-button next
