.faq-container
	.settings-header
		h1 FAQ
	ul.faq-nav#back-to-top
		li
			a(href='#sm-faq-general') General
		li
			a(href='#sm-faq-dibs') Dibs
		li
			a(href='#sm-faq-more-on-dibs') More on Dibs
		li
			a(href='#sm-faq-watchlist-and-earlydibs') Watchlist and earlyDibs
		li
			a(href='#sm-faq-account-settings') Account settings
		li
			a(href='#sm-faq-attended-unattended-item-explanation-for-lister') Attended/unattended item explanation for Lister
		li
			a(href='#sm-faq-attended-unattended-item-explanation-for-dibber') Attended/unattended item explanation for Dibber
		li
			a(href='#sm-faq-refund-policy') Refund Policy
	.answer-container
		h2#sm-faq-general General
		h3#sm-faq-general-what-is-stuffmapper What is Stuffmapper?
		p Our goal is to save millions of items from landfills everywhere and to support and grow the free reusable stuff movement by connecting people who want to give and get free reusable items.
		h3#sm-faq-general-how-does-the-landfill-tracker-work How does the Landfill Tracker work?
		p Stuffmapper, SPC is a Social Purpose Corporation and our social purpose is to save items from landfills. Our Landfill Tracker is one way in which our impact is measured. It upticks when an item listed as “attended” is marked as picked up by the Dibber or the Lister.
		h3#sm-faq-general-what-motivated-us-to-start-stuffmapper What motivated us to start Stuffmapper?
		p We want to positively impact the planet. Since beginning in January 2014 we’ve learned from hundreds of people that the free stuff movement needed a technological voice. We seek to go above and beyond and deliver innovative and alternative solutions to people passionate about sustainability. On Stuffmapper, reuse and reduce is the result of every transaction.
		h3#sm-faq-general-stuffmapper-and-the-environment Stuffmapper and the environment
		ul
			li Reduce the carbon footprint from manufacturing and transporting of stuff from overseas or across the country
			li No need to drive far to find or buy stuff
			li More vibrant and fluid marketplace for free stuff
			li Contributions to landfills go down
		h3#sm-faq-general-safety-on-stuffmapper Safety on Stuffmapper
		p Safety is our absolute first priority. We’re always looking for ways to make Stuffmapper safe and secure. With anonymous in-app messaging and pseudonym usernames you can safely communicate with other parties without using your real name, phone number, and email. When listing an attended item, your item’s approximate location is displayed on the map so the exact address isn’t visible. We plan on highlighting “safe exchange zones” on the map such as police lobbies that are well-lit, have video surveillance, and generally are regarded as locations that have increased safety. Our website uses the HTTPS Internet protocol to ensure secure encryption. Stuffmapper never shares personally identifiable information with third-parties.
		h3#sm-faq-general-stuffmapper-is-anti_flake-and-pro_accountability Stuffmapper is anti-flake and pro-accountability
		p Often the pain with exchanging items online is the belief or reality that a flaky person is on the other side of the transaction. Stuffmapper solves the problem of flakedom, as we like to call it, like never before with Dibs.
		h3#sm-faq-general-about-our-services About our services
		p Stuffmapper’s app and website connects people who want to give and get reusable items. One of the ways the company makes money is by “Dibs” and “earlyDibs.” Dibs is computer application software to further our socially and environmentally conscious initiative to spare physical items from landfills, for mobile phones, tablets and computers, namely, software for reserving communal, personal and professional items up for exchange or giveaway by users of the software. Dibs enables users to make reservations on, and have priority access to, reserved communal, personal and professional items up for exchange or giveaway by other users.
		h3#sm-faq-general-how-do-i-get-stuff How do I get stuff?
		p Go to “Get Stuff” and Dibs the item you want!
		h3#sm-faq-general-how-do-i-give-stuff How do I give stuff?
		p Go to “Give Stuff” to take a picture of what you want to list and add a title. It’s optional to add a description and category, but it’s highly encouraged!
		h3#sm-faq-general-how-do-i-manage-my-stuff How do I manage my stuff?
		p Go to “My Stuff” and you’ll see active and past listings, as well as active Dibs.
		h2#sm-faq-dibs Dibs
		h3#sm-faq-dibs-what-is-dibs What is Dibs?
		p When you Dibs an item you hide the location of the item from everyone else and you get exclusive messaging with the lister to coordinate the item’s pick-up.
		h3#sm-faq-dibs-how-does-dibs-benefit-the-lister How does Dibs benefit the lister?
		p Besides minimizing flaky behavior, Dibs allows for a 1:1 transactional relationship whereby the lister doesn’t have to respond to more than 1 person. This way, the lister doesn’t have to answer repetitive questions about the listing or choose from multiple people.
		h3#sm-faq-dibs-how-do-i-dibs-the-item How do I Dibs an item?
		p Simply click the Dibs button on the website or tap the Dibs button on your mobile app. To proceed, pay the dollar to secure your Dibs! Then, within the first 15 minutes after Dibsing the item, initiate messaging with the lister to secure your Dibs. Otherwise, you’ll lose your Dibs and the item will once again go live for all to see.
		h3#sm-faq-dibs-why-must-i-initiate-messaging-with-the-lister-after-i-Dibs-an-item Why must I initiate messaging with the lister after I Dibs an item?
		p In order to reduce flaky behavior we require Dibbers to initiate messaging with the lister immediately after Dibsing the item.
		h3#sm-faq-dibs-why-does-dibs-cost-money Why does Dibs cost money?
		p Proceeds from Dibs transactions help us cover operational costs that stem from maintaining the product and business.
		h2#sm-faq-more-on-dibs More on Dibs
		p Use the Dibs button when you see something you want on Stuffmapper! You’ll receive priority access to that item’s location by hiding the item on the map from everyone else and you’ll be awarded exclusive communication with the item’s lister. Be sure to initiate messaging with the lister within 15 minutes after Dibsing the item; otherwise, you’ll lose your Dibs and it goes live to everyone. Dibs is currently priced at one dollar and the Dibber pays at the time of Dibsing the item. There is also earlyDibs, which provides people who previously added items to their watchlist to be notified 15 minutes before everyone else who didn’t have those items on their watchlist when a specific item enters into the supply. They get 15 minutes to earlyDibs the related item they had on their watchlist. earlyDibs is currently priced at five dollars. Read on for specific examples of Dibs and earlyDibs!
		br
		p Example 1: Dibs
		p At 3pm Jake lists a couch on Stuffmapper that he wants to give away. Sarah wants to furnish her new apartment and at 3:10pm she checks Stuffmapper for any nearby quality couches. Sarah spots a couch (that Jake listed) and she activates the “Dibs button” to reserve priority access to the couch (hides item on the map from everyone else) and she gets exclusive in-app communication with the lister, Jake. Immediately after activating the Dibs button, Sarah pays one dollar to Dibs the couch and within 15 minutes after Dibsing the couch she must proactively initiate messaging (to prove she is not a flake) with the lister in order to preserve her Dibs, or else the item again goes live to everyone.
		p Example 2: earlyDibs
		p Yesterday Emily checked Stuffmapper to see if there was a good couch available but didn’t see anything so she added “couch” to her watchlist. Today at 3pm Jake lists a couch on Stuffmapper that he wants to give away. At 3:01pm Emily receives a notification from Stuffmapper that a recent keyword on her watchlist was triggered when Jake listed his couch. Because Emily had the term “couch” in her watchlist she now gets 15 minutes to earlyDibs the couch before it goes live to everyone. Emily activates the earlyDibs button on the couch.
		h2#sm-faq-watchlist-and-earlydibs Watchlist and earlyDibs
		h3#sm-faq-watchlist-and-earlydibs-how-does-the-watchlist-work How does the watchlist work?
		p If you don’t see the item you’re looking for you can add that item to your watchlist and be notified when it’s listed in your vicinity. You’ll have the opportunity to earlyDibs the item.
		h3#sm-faq-watchlist-and-earlydibs-how-do-i-add-an-item-to-my-watchlist How do I add an item to my watchlist?
		p Simply type in the keyword for the item you seek. For example, if you want a toaster, add “toaster”. When a toaster is listed in your vicinity you’ll be notified!
		h3#sm-faq-watchlist-and-earlydibs-how-does-earlydibs-work How does earlyDibs work?
		p If an item on your watchlist becomes available only you and other people who had that same item triggered by their watchlist keyword will be notified of its availability. Nobody else will know until 15 minutes passes. Additionally, for the first 15 minutes, you’ll have the opportunity to earlyDibs the item for five dollars. If 15 minutes passes and nobody earlyDibs’d the item, it will go live to everyone.
		h3#sm-faq-watchlist-and-earlydibs-why-should-i-earlydibs-an-item-what-happens-when-i-earlydibs-an-item Why should I earlyDibs an item? What happens when I earlyDibs an item?
		p earlyDibs allows you to hide the location of the item from other people who had that same item triggered by their watchlist keyword. earlyDibs also let’s you get out in front of everyone 15 minutes before they know the item exists. The functionality is otherwise the same as that of Dibs.
		h2#sm-faq-account-settings Account settings
		h3#sm-faq-account-settings-account-settings Why do I need to enter my phone #?
		p We’ll be enabling text notifications in the future.
		h3#sm-faq-account-settings-why-do-i-need-to-enter-my-address Why do I need to enter my address?
		p We’ll be enabling a quick method for listers to share the pick-up address for the item.
		h3#sm-faq-account-settings-why-do-i-have-to-give-my-first-name-and-last-name Why do I have to give my first name and last name?
		p We want to verify that you are a real person.
		h2#sm-faq-attended-unattended-item-explanation-for-lister Attended/unattended item explanation for Lister
		h3#sm-faq-attended-unattended-item-explanation-for-lister-what-does-it-mean-for-an-item-to-be-listed-as-attended What does it mean for an item to be listed as “attended”?
		p An attended item means the item is inside or that you’re accountable to communicating and coordinating the exchange of item with Dibber. For safety, the item’s approximate location will be displayed on the map. Your item will go live to everyone 15 minutes after you list it. People who have added to their watchlist a keyword associated with your listed item will be notified of its availability within the first 15 minutes after you list your item. If they want it, they can earlyDibs it before it goes live to everyone. Attended items expire after 7 days.
		h3#sm-faq-attended-unattended-item-explanation-for-lister-what-does-it-mean-for-an-item-to-be-listed-as-unattended What does it mean for an item to be listed as “unattended”?
		p An unattended item means the item is on the curb/outside/unattended by you and you do not want to have any correspondence with Dibbers. This ensures that you will not receive any communication from Dibbers. The item’s exact location will be displayed on the map. Your item will go live to everyone 15 minutes after you list it. People who have added to their watchlist a keyword associated with your listed item will be notified of its availability within the first 15 minutes after you list your item. If they want it, they can earlyDibs it before it goes live to everyone. Unattended items expire after 3 days.
		h2#sm-faq-attended-unattended-item-explanation-for-dibber Attended/unattended item explanation for Dibber
		h3#sm-faq-attended-unattended-item-explanation-for-dibber-what-happens-if-i-dibs-an-attended-item What happens if I Dibs an attended item?
		p An attended item means you’ll be able to communicate with the lister to coordinate pick-up of the item. You’ll want ask the lister about the pick-up time and location for the exchange. Reliable people like you keep Stuffmapper’s marketplace accountable. After Dibsing an item, we require you to initiate messaging within 15 minutes so the lister knows you’re serious. Just message the lister immediately after Dibsing to secure your Dibs! Otherwise, your Dibs will be forfeited and the item will again be available to public. The goal is to get you and the lister connected for an easy exchange!
		h3#sm-faq-attended-unattended-item-explanation-for-dibber-what-happens-if-i-dibs-an-unattended-item What happens if I Dibs an unattended item?
		p Dibber beware! You’re taking your chances that the item is still there. An unattended item means the item is on the curb/out-in-the-open and nobody is accountable to it. There is no lister to correspond with and the item’s exact location is available to you.
		h2#sm-faq-refund-policy Refund Policy
		p We want to ensure that you are 100% happy each time you purchase our service. We will address all refund requests within 2 business days.
		p You will be automatically refunded if:
		ul
			li your Dibs is rejected
			li your Dibs is unfulfilled by the lister
		p Please contact us at
			a(href='mailto:support@stuffmapper.com') support@stuffmapper.com
			|  if you have any questions or concerns about refunds.
		h2#sm-faq-other-questions Other Questions
		p Please contact us at
			a(href='mailto:support@stuffmapper.com') support@stuffmapper.com
			|  with other inquiries.
		h2#sm-faq-privacy-policy Privacy Policy
		a(ui-sref='privacy') https://www.stuffmapper.com/privacy
		h2#sm-faq-user-agreement User Agreement
		a(ui-ref='terms') https://www.stuffmapper.com/useragreement
		h2#sm-faq-contact-us Contact us!
		a(href='mailto:support@stuffmapper.com') support@stuffmapper.com
		br
		br
		p
			| Stuffmapper, SPC
			br
			| P.O. Box 95612
			br
			| Seattle, WA 98145-2612
